<div class="container-fluid">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2 id="jhi-compra-insumo-heading" jhiTranslate="craftBeerStoreApp.compraInsumo.home.createOrEditLabel">
          Create or edit a Compra Insumo</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i
            class="icon-home"></i></a></li>
          <li class="breadcrumb-item">Compras</li>
          <li class="breadcrumb-item active">Insumo</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header">
    </div>
    <div class="body">
      <div class="row justify-content-center">
        <div class="col-8">
          <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div>
              <jhi-alert-error></jhi-alert-error>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.compraInsumo.nroFactura"
                               for="field_nroFactura">Nro de Factura
                    </mat-label>
                    <input type="text" matInput name="nroFactura" id="field_nroFactura"
                           [(ngModel)]="compraInsumo.nroFactura" required/>
                    <mat-error
                      [hidden]="!(editForm.controls.nroFactura?.dirty && editForm.controls.nroFactura?.invalid)">
                      <small class="form-text text-danger"
                             [hidden]="!editForm.controls.nroFactura?.errors?.required"
                             jhiTranslate="entity.validation.required">
                        This field is required.
                      </small>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" >
                    <mat-label jhiTranslate="craftBeerStoreApp.compraInsumo.fecha">Fecha</mat-label>
                    <input matInput name="fecha" [matDatepicker]="picker"
                           placeholder="Choose a date" [(ngModel)]="fechaDp" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                      [hidden]="!(editForm.controls.fecha?.dirty && editForm.controls.fecha?.invalid)">
                      <small class="form-text text-danger"
                             [hidden]="!editForm.controls.fecha?.errors?.required"
                             jhiTranslate="entity.validation.required">
                        This field is required.
                      </small>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.compraInsumo.subtotal"
                               for="field_subtotal">Sub Total
                    </mat-label>
                    <input type="number" matInput name="subtotal" id="field_subtotal"
                           [(ngModel)]="compraInsumo.subtotal" required/>
                    <mat-error
                      [hidden]="!(editForm.controls.subtotal?.dirty && editForm.controls.subtotal?.invalid)">
                      <small class="form-text text-danger"
                             [hidden]="!editForm.controls.subtotal?.errors?.required"
                             jhiTranslate="entity.validation.required">
                        This field is required.
                      </small>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.compraInsumo.gastoDeEnvio"
                               for="field_gastoDeEnvio">Gasto de Envio
                    </mat-label>
                    <input type="number" matInput name="gastoDeEnvio" id="field_gastoDeEnvio"
                           [(ngModel)]="compraInsumo.gastoDeEnvio" required/>
                    <mat-error
                      [hidden]="!(editForm.controls.gastoDeEnvio?.dirty && editForm.controls.gastoDeEnvio?.invalid)">
                      <small class="form-text text-danger"
                             [hidden]="!editForm.controls.gastoDeEnvio?.errors?.required"
                             jhiTranslate="entity.validation.required">
                        This field is required.
                      </small>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.compraInsumo.impuesto"
                               for="field_impuesto">Impuestos %
                    </mat-label>
                    <input type="number" matInput name="impuesto" id="field_impuesto"
                           [(ngModel)]="compraInsumo.impuesto" required/>
                    <mat-error
                      [hidden]="!(editForm.controls.impuesto?.dirty && editForm.controls.impuesto?.invalid)">
                      <small class="form-text text-danger"
                             [hidden]="!editForm.controls.impuesto?.errors?.required"
                             jhiTranslate="entity.validation.required">
                        This field is required.
                      </small>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.compraInsumo.total"
                               for="field_total">Total
                    </mat-label>
                    <input type="number" matInput name="total" id="field_total"
                           [(ngModel)]="compraInsumo.total" required/>
                    <mat-error
                      [hidden]="!(editForm.controls.total?.dirty && editForm.controls.total?.invalid)">
                      <small class="form-text text-danger"
                             [hidden]="!editForm.controls.total?.errors?.required"
                             jhiTranslate="entity.validation.required">
                        This field is required.
                      </small>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.compraInsumo.proveedor"
                               for="field_proveedor">Proveedor
                    </mat-label>
                    <mat-select name="proveedor" [(ngModel)]="compraInsumo.proveedorId"
                                id="field_producto">
                      <mat-option value=""></mat-option>
                      <mat-option *ngFor="let proveedorOption of proveedors"
                                  [value]="proveedorOption.id">
                        {{proveedorOption.nombreProveedor}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.compraInsumo.estadoCompra" for="field_estadoCompra">
                      Estado Compra
                    </mat-label>
                    <mat-select name="estadoCompra" [(ngModel)]="compraInsumo.estadoCompra" id="field_estadoCompra">
                      <mat-option
                        value="PEDIDO_REALIZADO">{{'craftBeerStoreApp.EstadoCompra.PEDIDO_REALIZADO' | translate}}</mat-option>
                      <mat-option
                        value="PEDIDO_RECIBIDO">{{'craftBeerStoreApp.EstadoCompra.PEDIDO_RECIBIDO' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="container mat-elevation-z8">
                  <div class="card mat-elevation-z8">
                    <div class="header">
                      <mat-card-title>Insumos</mat-card-title>
                    </div>
                    <div class="body">
                      <div class="row justify-content-center">
                        <div class="row w-100">
                          <div class="col-sm-4">
                            <mat-form-field class="example-full-width">
                              <mat-label jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.insumoRecomendado"
                                         for="field_insumoRecomendado">Insumo Recomendado</mat-label>
                              <mat-select id="field_insumoRecomendado"
                                          name="insumoRecomendado"
                                          [(ngModel)]="compraInsumoDetalle.insumoRecomendadoId">
                                <mat-option value="null"></mat-option>
                                <mat-option [value]="insumoRecomendadoOption.id"
                                            *ngFor="let insumoRecomendadoOption of insumorecomendados; trackBy: trackInsumoRecomendadoById">
                                  {{insumoRecomendadoOption.marca}} - {{insumoRecomendadoOption.nombre}}
                                  -{{insumoRecomendadoOption.tipo}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-4">
                            <mat-form-field class="example-full-width">
                              <mat-label jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.codigoReferencia"
                                         for="field_codigoReferencia">Codigo Referencia</mat-label>
                              <input type="text" matInput name="codigoReferencia" id="field_codigoReferencia"
                                     [(ngModel)]="compraInsumoDetalle.codigoReferencia"/>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-4">
                            <mat-form-field class="example-full-width">
                              <mat-label jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.tipo"
                                         for="field_tipo">Tipo</mat-label>
                              <mat-select name="tipo" [(ngModel)]="compraInsumoDetalle.tipo" id="field_tipo">
                                <mat-option value="MALTA">{{'craftBeerStoreApp.TipoInsumo.MALTA' | translate}}</mat-option>
                                <mat-option value="LUPULO">{{'craftBeerStoreApp.TipoInsumo.LUPULO' | translate}}</mat-option>
                                <mat-option value="LEVADURA">{{'craftBeerStoreApp.TipoInsumo.LEVADURA' | translate}}</mat-option>
                                <mat-option value="ACIDO">{{'craftBeerStoreApp.TipoInsumo.ACIDO' | translate}}</mat-option>
                                <mat-option value="CLARIFICANTE">{{'craftBeerStoreApp.TipoInsumo.CLARIFICANTE' | translate}}</mat-option>
                                <mat-option value="SAL">{{'craftBeerStoreApp.TipoInsumo.SAL' | translate}}</mat-option>
                                <mat-option value="OTROS">{{'craftBeerStoreApp.TipoInsumo.OTROS' | translate}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-3">
                            <mat-form-field class="example-full-width">
                              <mat-label jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.unidad"
                                         for="field_unidad">Unidad</mat-label>
                              <mat-select name="unidad" [(ngModel)]="compraInsumoDetalle.unidad"
                                          id="field_unidad">
                                <mat-option value="KILOGRAMO">{{'craftBeerStoreApp.Unidad.KILOGRAMO' | translate}}</mat-option>
                                <mat-option value="GRAMO">{{'craftBeerStoreApp.Unidad.GRAMO' | translate}}</mat-option>
                                <mat-option value="VEINTICINCO_KILOS">{{'craftBeerStoreApp.Unidad.VEINTICINCO_KILOS' | translate}}</mat-option>
                                <mat-option value="DIES_KILOS">{{'craftBeerStoreApp.Unidad.DIES_KILOS' | translate}}</mat-option>
                                <mat-option value="LITRO">{{'craftBeerStoreApp.Unidad.LITRO' | translate}}</mat-option>
                                <mat-option value="CM3">{{'craftBeerStoreApp.Unidad.CM3' | translate}}</mat-option>
                                <mat-option value="ML">{{'craftBeerStoreApp.Unidad.ML' | translate}}</mat-option>
                                <mat-option value="UNIDAD">{{'craftBeerStoreApp.Unidad.UNIDAD' | translate}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="example-full-width">
                              <mat-label jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.stock"
                                         for="field_stock">Stock</mat-label>
                              <input type="number" matInput name="stock" id="field_stock"
                                     [(ngModel)]="compraInsumoDetalle.stock"/>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="example-full-width">
                              <mat-label jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.precioUnitario"
                                         for="field_precio_unitario">Precio Unitario</mat-label>
                              <input type="number" matInput name="precioUnitario" id="field_precio_unitario"
                                     [(ngModel)]="compraInsumoDetalle.precioUnitario" (change)="precioUnitarioChange()"/>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="example-full-width">
                              <mat-label jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.precio"
                                         for="field_precio">Precio</mat-label>
                              <input type="number" matInput name="precio" id="field_precio"
                                     [(ngModel)]="compraInsumoDetalle.precio"/>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="action">
                      <button mat-button type="button" class="btn btn-success"
                              (click)="addInsumo()"> Agregar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="mat-elevation-z8 table-responsive" *ngIf="compraInsumoDetalles">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th><span
                        jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.insumoRecomendado">Insumo</span>
                      </th>
                      <th><span
                        jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.unidad">Unidad</span>
                      </th>
                      <th><span
                        jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.tipo">Tipo</span>
                      </th>
                      <th><span
                        jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.codigoReferencia">Codigo Referencia</span>
                      </th>
                      <th><span
                        jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.stock">Stock</span>
                      </th>
                      <th><span
                        jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.precio">Precio</span>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let compraInsumoDetalle of compraInsumoDetalles ;trackBy: trackId">
                      <td>
                        {{compraInsumoDetalle.insumoRecomendadoNombre}}
                      </td>
                      <td
                        jhiTranslate="{{'craftBeerStoreApp.Unidad.' + compraInsumoDetalle.unidad}}">{{compraInsumoDetalle.unidad}}</td>
                      <td
                        jhiTranslate="{{'craftBeerStoreApp.TipoInsumo.' + compraInsumoDetalle.tipo}}">{{compraInsumoDetalle.tipo}}</td>
                      <td>{{compraInsumoDetalle.codigoReferencia}}</td>
                      <td>{{compraInsumoDetalle.stock}}</td>
                      <td>{{compraInsumoDetalle.precio}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <br/>
            <div>
              <button type="button" id="cancel-save" mat-raised-button class="mat-cancel"
                      (click)="previousState()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                jhiTranslate="entity.action.cancel">Cancel</span>
              </button>
              <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                      mat-raised-button class="mat-success" *ngIf="compraInsumoAux.estadoCompra === estadoCompra">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
