<div class="container-fluid">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2><span jhiTranslate="craftBeerStoreApp.cliente.detail.title">Barril: </span>: {{barril.codigo}}</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i></a></li>
          <li class="breadcrumb-item">Administración</li>
          <li class="breadcrumb-item active">Barril</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header">

    </div>
    <div class="body">
      <div class="row justify-content-center">
        <div class="col-8">
          <div *ngIf="barril">
<!--            <h2><span jhiTranslate="craftBeerStoreApp.barril.detail.title">Barril</span> {{barril.id}}</h2>-->
            <h2><span jhiTranslate="craftBeerStoreApp.barril.detail.title">Barril: </span>: {{barril.codigo}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>

            <div class="mat-elevation-z8">
              <mat-card class="example-card">

                <mat-card-content>
                  <dl class="row-md jh-entity-details">
<!--                    <dt><span jhiTranslate="craftBeerStoreApp.barril.codigo">Codigo</span></dt>-->
<!--                    <dd>-->
<!--                      <span>{{barril.codigo}}</span>-->
<!--                    </dd>-->
                    <div class="row">
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.barril.litros">Litros</span></dt>
                        <dd>
                          <span jhiTranslate="{{'craftBeerStoreApp.LitrosBarril.' + barril.litros}}">{{barril.litros}}</span>
                        </dd>
                      </div>
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.barril.conector">Conector</span></dt>
                        <dd>
                          <span jhiTranslate="{{'craftBeerStoreApp.ConectorBarril.' + barril.conector}}">{{barril.conector}}</span>
                        </dd>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.barril.estado">Estado</span></dt>
                        <dd>
                          <span jhiTranslate="{{'craftBeerStoreApp.EstadoBarril.' + barril.estado}}">{{barril.estado}}</span>
                        </dd>
                      </div>
                      <div class="col-md-6">

                      </div>
                    </div>



                    <dt><span jhiTranslate="craftBeerStoreApp.barril.imagen">Imagen</span></dt>
                    <dd>
                      <div *ngIf="barril.imagen">
                        <a (click)="openFile(barril.imagenContentType, barril.imagen)">
                          <img [src]="'data:' + barril.imagenContentType + ';base64,' + barril.imagen" style="max-width: 100%;" alt="barril image"/>
                        </a>
                        {{barril.imagenContentType}}, {{byteSize(barril.imagen)}}
                      </div>
                    </dd>

                  </dl>
                </mat-card-content>
                <mat-card-actions>
                  <button type="submit"
                          (click)="previousState()"
                          mat-raised-button class="mat-back">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                  </button>

                  <button type="button"
                          [routerLink]="['/barril', barril.id, 'edit']"
                          mat-raised-button class="mat-success">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


