<div class="container-fluid">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2 id="jhi-barril-heading" jhiTranslate="craftBeerStoreApp.barril.home.createOrEditLabel">Create or edit a
          Barril</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i></a></li>
          <li class="breadcrumb-item">Administración</li>
          <li class="breadcrumb-item active">Barril</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header">

    </div>
    <div class="body">
      <div class="row justify-content-center">
        <div class="col-8">
          <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div>
              <jhi-alert-error></jhi-alert-error>
              <div class="row">
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.barril.codigo" for="field_codigo">Codigo</mat-label>
                    <input type="text" matInput name="codigo" id="field_codigo"
                           [(ngModel)]="barril.codigo"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.barril.litros" for="field_litros">Litros</mat-label>
                    <mat-select name="litros" [(ngModel)]="barril.litros" id="field_litros">
                      <mat-option value="CINCO">{{'craftBeerStoreApp.LitrosBarril.CINCO' | translate}}</mat-option>
                      <mat-option value="DIEZ">{{'craftBeerStoreApp.LitrosBarril.DIEZ' | translate}}</mat-option>
                      <mat-option value="QUINCE">{{'craftBeerStoreApp.LitrosBarril.QUINCE' | translate}}</mat-option>
                      <mat-option
                        value="DIECINUEVE">{{'craftBeerStoreApp.LitrosBarril.DIECINUEVE' | translate}}</mat-option>
                      <mat-option value="VEINTE">{{'craftBeerStoreApp.LitrosBarril.VEINTE' | translate}}</mat-option>
                      <mat-option
                        value="VEINTICINCO">{{'craftBeerStoreApp.LitrosBarril.VEINTICINCO' | translate}}</mat-option>
                      <mat-option value="TREINTA">{{'craftBeerStoreApp.LitrosBarril.TREINTA' | translate}}</mat-option>
                      <mat-option
                        value="CINCUENTA">{{'craftBeerStoreApp.LitrosBarril.CINCUENTA' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.barril.conector" for="field_conector">Conector
                    </mat-label>
                    <mat-select name="conector" [(ngModel)]="barril.conector" id="field_conector">
                      <mat-option value="G">{{'craftBeerStoreApp.ConectorBarril.G' | translate}}</mat-option>
                      <mat-option value="A">{{'craftBeerStoreApp.ConectorBarril.A' | translate}}</mat-option>
                      <mat-option value="S">{{'craftBeerStoreApp.ConectorBarril.S' | translate}}</mat-option>
                      <mat-option value="D">{{'craftBeerStoreApp.ConectorBarril.D' | translate}}</mat-option>
                      <mat-option value="U">{{'craftBeerStoreApp.ConectorBarril.U' | translate}}</mat-option>
                      <mat-option value="M">{{'craftBeerStoreApp.ConectorBarril.M' | translate}}</mat-option>
                      <mat-option
                        value="PIN_LOCK">{{'craftBeerStoreApp.ConectorBarril.PIN_LOCK' | translate}}</mat-option>
                      <mat-option
                        value="BALL_LOCK">{{'craftBeerStoreApp.ConectorBarril.BALL_LOCK' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <br/>
            <div>
              <button type="button" id="cancel-save" mat-raised-button class="mat-cancel" (click)="previousState()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>
              <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                      mat-raised-button class="mat-success">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">-->

<!--            <div>-->

<!--                <div class="form-group" [hidden]="!barril.id">-->
<!--                    <label for="id" jhiTranslate="global.field.id">ID</label>-->
<!--                    <input type="text" class="form-control" id="id" name="id"-->
<!--                        [(ngModel)]="barril.id" readonly />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--&lt;!&ndash;                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.barril.codigo" for="field_codigo">Codigo</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="text" class="form-control" name="codigo" id="field_codigo"&ndash;&gt;-->
<!--&lt;!&ndash;                        [(ngModel)]="barril.codigo" />&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="form-group">-->

<!--                </div>-->
<!--                <div class="form-group">-->

<!--                </div>-->
<!--                <div class="form-group">-->

<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    -->
<!--                </div>-->

<!--&lt;!&ndash;                <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.barril.empresa" for="field_empresa">Empresa</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <select class="form-control" id="field_empresa" name="empresa" [(ngModel)]="barril.empresaId" >&ndash;&gt;-->
<!--&lt;!&ndash;                        <option [ngValue]="null"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option [ngValue]="empresaOption.id" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.nombreEmpresa}}</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    </select>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div>-->
<!--                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">-->
<!--                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>-->
<!--                </button>-->
<!--                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">-->
<!--                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
