<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-evento-heading" jhiTranslate="craftBeerStoreApp.evento.home.createOrEditLabel">Create or edit a Evento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.evento.nombreEvento" for="field_nombreEvento">Nombre Evento</label>
                    <input type="text" class="form-control" name="nombreEvento" id="field_nombreEvento"
                           formControlName="nombreEvento"/>
                    <div *ngIf="editForm.get('nombreEvento').invalid && (editForm.get('nombreEvento').dirty || editForm.get('nombreEvento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreEvento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.evento.fechaEvento" for="field_fechaEvento">Fecha Evento</label>
                    <div class="input-group">
                        <input id="field_fechaEvento" type="text" class="form-control" name="fechaEvento" ngbDatepicker  #fechaEventoDp="ngbDatepicker" formControlName="fechaEvento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaEventoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechaEvento').invalid && (editForm.get('fechaEvento').dirty || editForm.get('fechaEvento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaEvento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.evento.cantidadBarriles" for="field_cantidadBarriles">Cantidad Barriles</label>
                    <input type="number" class="form-control" name="cantidadBarriles" id="field_cantidadBarriles"
                           formControlName="cantidadBarriles"/>
                    <div *ngIf="editForm.get('cantidadBarriles').invalid && (editForm.get('cantidadBarriles').dirty || editForm.get('cantidadBarriles').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cantidadBarriles').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cantidadBarriles').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('cantidadBarriles')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.evento.precioPinta" for="field_precioPinta">Precio Pinta</label>
                    <input type="number" class="form-control" name="precioPinta" id="field_precioPinta"
                           formControlName="precioPinta"/>
                    <div *ngIf="editForm.get('precioPinta').invalid && (editForm.get('precioPinta').dirty || editForm.get('precioPinta').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('precioPinta').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('precioPinta')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.evento.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" formControlName="empresaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresaOption.id" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
