<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="evento">
            <h2><span jhiTranslate="craftBeerStoreApp.evento.detail.title">Evento</span> {{evento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="craftBeerStoreApp.evento.nombreEvento">Nombre Evento</span></dt>
                <dd>
                    <span>{{evento.nombreEvento}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.evento.fechaEvento">Fecha Evento</span></dt>
                <dd>
                    <span>{{evento.fechaEvento}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.evento.cantidadBarriles">Cantidad Barriles</span></dt>
                <dd>
                    <span>{{evento.cantidadBarriles}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.evento.precioPinta">Precio Pinta</span></dt>
                <dd>
                    <span>{{evento.precioPinta}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.evento.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="evento.empresaId">
                        <a [routerLink]="['/empresa', evento.empresaId, 'view']">{{evento.empresaId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/evento', evento.id, 'edit']"
                    mat-raised-button class="mat-edit">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
