<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.evento.home.title">Eventos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-evento" [routerLink]="['/evento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.evento.home.createLabel">
            Create a new Evento
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="eventos?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.evento.home.notFound">No eventos found</span>
    </div>
    <div class="table-responsive" *ngIf="eventos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombreEvento"><span jhiTranslate="craftBeerStoreApp.evento.nombreEvento">Nombre Evento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fechaEvento"><span jhiTranslate="craftBeerStoreApp.evento.fechaEvento">Fecha Evento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cantidadBarriles"><span jhiTranslate="craftBeerStoreApp.evento.cantidadBarriles">Cantidad Barriles</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="precioPinta"><span jhiTranslate="craftBeerStoreApp.evento.precioPinta">Precio Pinta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empresaId"><span jhiTranslate="craftBeerStoreApp.evento.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let evento of eventos ;trackBy: trackId">
                <td><a [routerLink]="['/evento', evento.id, 'view' ]">{{evento.id}}</a></td>
                <td>{{evento.nombreEvento}}</td>
                <td>{{evento.fechaEvento | date:'mediumDate'}}</td>
                <td>{{evento.cantidadBarriles}}</td>
                <td>{{evento.precioPinta}}</td>
                <td>
                    <div *ngIf="evento.empresaId">
                        <a [routerLink]="['/empresa', evento.empresaId , 'view' ]" >{{evento.empresaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/evento', evento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/evento', evento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(evento)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="eventos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
