<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 id="jhi-evento-heading" jhiTranslate="craftBeerStoreApp.evento.home.createOrEditLabel">Create or edit a Evento</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Entidad</li>
                    <li class="breadcrumb-item active">Evento</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="header">
        </div>
        <div class="body">
            <div class="row justify-content-center">
                <div class="col-8">
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label jhiTranslate="craftBeerStoreApp.evento.nombreEvento" for="field_nombreEvento">Nombre del Evento</mat-label>
                                        <input type="text" matInput name="nombreEvento" id="field_nombreEvento"
                                               [(ngModel)]="evento.nombreEvento" required/>
                                        <mat-error [hidden]="!(editForm.controls.nombreEvento?.dirty && editForm.controls.nombreEvento?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.nombreEvento?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label jhiTranslate="craftBeerStoreApp.evento.fechaEvento">Fecha</mat-label>
                                        <input matInput name="fechaEvento" [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="fechaEventoDp" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error [hidden]="!(editForm.controls.fechaEvento?.dirty && editForm.controls.fechaEvento?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.fechaEvento?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <mat-form-field class="mid-width" appearance="fill">
                                        <mat-label jhiTranslate="craftBeerStoreApp.evento.precioPinta" for="field_precioPinta">Precio por Pinta</mat-label>
                                        <input type="text" matInput name="precioPinta" id="field_precioPinta"
                                               [(ngModel)]="evento.precioPinta" required/>
                                        <mat-error [hidden]="!(editForm.controls.precioPinta?.dirty && editForm.controls.precioPinta?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.precioPinta?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.precioPinta?.errors?.number" jhiTranslate="entity.validation.number">
                                                This field should be a number.
                                            </small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="container">
                                    <mat-card class="example-card">
                                        <mat-card-header>
                                            <mat-card-title>Productos para el Evento</mat-card-title>
                                        </mat-card-header>

                                        <mat-card-content>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <mat-form-field class="example-full-width" appearance="fill">
                                                        <mat-label jhiTranslate="craftBeerStoreApp.presentacion.producto" for="field_producto">Producto</mat-label>
                                                        <mat-select  name="proveedor" [(ngModel)]="productoSave.id" id="field_producto">
                                                            <mat-option value=""></mat-option>
                                                            <mat-option *ngFor="let productoOption of productos" [value]="productoOption.id">
                                                                {{productoOption.nombreComercial}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-sm-6">
                                                    <mat-form-field class="example-full-width" appearance="fill">
                                                        <mat-label jhiTranslate="craftBeerStoreApp.eventoProducto.cantidadDeBarriles" for="field_cantidadDeBarriles">Cantidad De Barriles</mat-label>
                                                        <input matInput type="number" name="cantidadDeBarriles" id="field_cantidadDeBarriles"
                                                               [(ngModel)]="productoSave.cantidadBarriles" />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </mat-card-content>


                                        <mat-card-actions>
                                            <button mat-button type="button" class="btn btn-success" (click)="addProducto()"> Agregar</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="productosList">
                            <div class="mat-elevation-z8 table-responsive">
                                <table mat-table [dataSource]="dataSource" style="width: 100%;">
                                    <ng-container matColumnDef="descripcion">
                                        <th mat-header-cell *matHeaderCellDef> <span jhiTranslate="craftBeerStoreApp.producto.descripcion">Descripcion</span></th>
                                        <td mat-cell *matCellDef="let producto"> {{producto.descripcion}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="tipo">
                                        <th mat-header-cell *matHeaderCellDef> <span jhiTranslate="craftBeerStoreApp.producto.tipo">Tipo</span></th>
                                        <td mat-cell *matCellDef="let producto" jhiTranslate="{{'craftBeerStoreApp.EstiloCerveza.' + producto.tipo}}"> {{producto.tipo}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="nombreComercial">
                                        <th mat-header-cell *matHeaderCellDef> <span jhiTranslate="craftBeerStoreApp.producto.nombreComercial">Nombre Comercial</span></th>
                                        <td mat-cell *matCellDef="let producto"> {{producto.nombreComercial}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="cantidadBarriles">
                                        <th mat-header-cell *matHeaderCellDef> <span jhiTranslate="craftBeerStoreApp.eventoProducto.cantidadDeBarriles">Cantidad de Barriles</span></th>
                                        <td mat-cell *matCellDef="let producto"> {{producto.cantidadBarriles}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                        <br/>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label jhiTranslate="craftBeerStoreApp.evento.cantidadBarriles" for="field_cantidadBarriles">Cantidad Barriles</mat-label>
                                <input type="number" matInput name="cantidadBarriles" id="field_cantidadBarriles"
                                       [(ngModel)]="evento.cantidadBarriles" min="1" jhiMin="1" disabled/>
                            </mat-form-field>
                        </div>
                        <br/>
                        <div>
                            <button type="button" id="cancel-save" mat-raised-button class="mat-cancel"  (click)="previousState()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" mat-raised-button class="mat-success">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
