<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-caja-heading" jhiTranslate="craftBeerStoreApp.caja.home.createOrEditLabel">Create or edit a Caja</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.caja.tipoMovimiento" for="field_tipoMovimiento">Tipo Movimiento</label>
                    <select class="form-control" name="tipoMovimiento" formControlName="tipoMovimiento" id="field_tipoMovimiento">
                        <option value="INGRESO">{{'craftBeerStoreApp.TipoMovimientoCaja.INGRESO' | translate}}</option>
                        <option value="EGRESO">{{'craftBeerStoreApp.TipoMovimientoCaja.EGRESO' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('tipoMovimiento').invalid && (editForm.get('tipoMovimiento').dirty || editForm.get('tipoMovimiento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipoMovimiento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.caja.tipoPago" for="field_tipoPago">Tipo Pago</label>
                    <select class="form-control" name="tipoPago" formControlName="tipoPago" id="field_tipoPago">
                        <option value="EFECTIVO">{{'craftBeerStoreApp.TipoPago.EFECTIVO' | translate}}</option>
                        <option value="TARJETA_CREDITO">{{'craftBeerStoreApp.TipoPago.TARJETA_CREDITO' | translate}}</option>
                        <option value="TARJETA_DEBITO">{{'craftBeerStoreApp.TipoPago.TARJETA_DEBITO' | translate}}</option>
                        <option value="CHEQUE">{{'craftBeerStoreApp.TipoPago.CHEQUE' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('tipoPago').invalid && (editForm.get('tipoPago').dirty || editForm.get('tipoPago').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipoPago').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.caja.descripcion" for="field_descripcion">Descripcion</label>
                    <textarea class="form-control" name="descripcion" id="field_descripcion"
                              formControlName="descripcion"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.caja.saldoCtaCte" for="field_saldoCtaCte">Saldo Cta Cte</label>
                    <input type="number" class="form-control" name="saldoCtaCte" id="field_saldoCtaCte"
                           formControlName="saldoCtaCte"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.caja.importe" for="field_importe">Importe</label>
                    <input type="number" class="form-control" name="importe" id="field_importe"
                           formControlName="importe"/>
                    <div *ngIf="editForm.get('importe').invalid && (editForm.get('importe').dirty || editForm.get('importe').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('importe').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('importe')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.caja.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" formControlName="fecha"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fecha').invalid && (editForm.get('fecha').dirty || editForm.get('fecha').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fecha').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.caja.proveedor" for="field_proveedor">Proveedor</label>
                    <select class="form-control" id="field_proveedor" name="proveedor" formControlName="proveedorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="proveedorOption.id" *ngFor="let proveedorOption of proveedors; trackBy: trackProveedorById">{{proveedorOption.nombreProveedor}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.caja.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="clienteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nombreApellido}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.caja.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" formControlName="empresaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresaOption.id" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
