<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.caja.home.title">Cajas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-caja" [routerLink]="['/caja/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.caja.home.createLabel">
            Create a new Caja
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cajas?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.caja.home.notFound">No cajas found</span>
    </div>
    <div class="table-responsive" *ngIf="cajas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipoMovimiento"><span jhiTranslate="craftBeerStoreApp.caja.tipoMovimiento">Tipo Movimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipoPago"><span jhiTranslate="craftBeerStoreApp.caja.tipoPago">Tipo Pago</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="craftBeerStoreApp.caja.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="saldoCtaCte"><span jhiTranslate="craftBeerStoreApp.caja.saldoCtaCte">Saldo Cta Cte</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="importe"><span jhiTranslate="craftBeerStoreApp.caja.importe">Importe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="craftBeerStoreApp.caja.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="proveedorNombreProveedor"><span jhiTranslate="craftBeerStoreApp.caja.proveedor">Proveedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="clienteNombreApellido"><span jhiTranslate="craftBeerStoreApp.caja.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empresaId"><span jhiTranslate="craftBeerStoreApp.caja.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let caja of cajas ;trackBy: trackId">
                <td><a [routerLink]="['/caja', caja.id, 'view' ]">{{caja.id}}</a></td>
                <td jhiTranslate="{{'craftBeerStoreApp.TipoMovimientoCaja.' + caja.tipoMovimiento}}">{{caja.tipoMovimiento}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.TipoPago.' + caja.tipoPago}}">{{caja.tipoPago}}</td>
                <td>{{caja.descripcion}}</td>
                <td>{{caja.saldoCtaCte}}</td>
                <td>{{caja.importe}}</td>
                <td>{{caja.fecha | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="caja.proveedorId">
                        <a [routerLink]="['/proveedor', caja.proveedorId , 'view' ]" >{{caja.proveedorNombreProveedor}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="caja.clienteId">
                        <a [routerLink]="['/cliente', caja.clienteId , 'view' ]" >{{caja.clienteNombreApellido}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="caja.empresaId">
                        <a [routerLink]="['/empresa', caja.empresaId , 'view' ]" >{{caja.empresaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/caja', caja.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/caja', caja.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(caja)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="cajas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
