<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.medicionLote.home.title">Medicion Lotes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medicion-lote" [routerLink]="['/medicion-lote/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.medicionLote.home.createLabel">
            Create new Medicion Lote
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="medicionLotes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dia"><span jhiTranslate="craftBeerStoreApp.medicionLote.dia">Dia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoMedicion"><span jhiTranslate="craftBeerStoreApp.medicionLote.tipoMedicion">Tipo Medicion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estado"><span jhiTranslate="craftBeerStoreApp.medicionLote.estado">Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaRealizado"><span jhiTranslate="craftBeerStoreApp.medicionLote.fechaRealizado">Fecha Realizado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valor"><span jhiTranslate="craftBeerStoreApp.medicionLote.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="observacion"><span jhiTranslate="craftBeerStoreApp.medicionLote.observacion">Observacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loteCodigo"><span jhiTranslate="craftBeerStoreApp.medicionLote.lote">Lote</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tanqueNombre"><span jhiTranslate="craftBeerStoreApp.medicionLote.tanque">Tanque</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let medicionLote of medicionLotes ;trackBy: trackId">
                <td><a [routerLink]="['/medicion-lote', medicionLote.id, 'view' ]">{{medicionLote.id}}</a></td>
                <td>{{medicionLote.dia}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.TipoMedicion.' + medicionLote.tipoMedicion}}">{{medicionLote.tipoMedicion}}</td>
                <td>{{medicionLote.estado}}</td>
                <td>{{medicionLote.fechaRealizado | date:'medium'}}</td>
                <td>{{medicionLote.valor}}</td>
                <td>{{medicionLote.observacion}}</td>
                <td>
                    <div *ngIf="medicionLote.loteId">
                        <a [routerLink]="['../lote', medicionLote.loteId , 'view' ]" >{{medicionLote.loteCodigo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="medicionLote.tanqueId">
                        <a [routerLink]="['../tanque', medicionLote.tanqueId , 'view' ]" >{{medicionLote.tanqueNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/medicion-lote', medicionLote.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medicion-lote', medicionLote.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'medicion-lote', { outlets: { popup: medicionLote.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
