<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.equipamiento.home.title">Equipamientos</span>
        <button id="jh-create-entity" mat-raised-button color="primary" class="float-right jh-create-entity create-equipamiento" [routerLink]="['/equipamiento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="craftBeerStoreApp.equipamiento.home.createLabel">
            Create new Equipamiento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'craftBeerStoreApp.equipamiento.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="equipamientos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreEquipamiento"><span jhiTranslate="craftBeerStoreApp.equipamiento.nombreEquipamiento">Nombre Equipamiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoEquipamiento"><span jhiTranslate="craftBeerStoreApp.equipamiento.tipoEquipamiento">Tipo Equipamiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precio"><span jhiTranslate="craftBeerStoreApp.equipamiento.precio">Precio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costoEnvio"><span jhiTranslate="craftBeerStoreApp.equipamiento.costoEnvio">Costo Envio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaCompra"><span jhiTranslate="craftBeerStoreApp.equipamiento.fechaCompra">Fecha Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imagen"><span jhiTranslate="craftBeerStoreApp.equipamiento.imagen">Imagen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--            <th jhiSortBy="empresaNombreEmpresa"><span jhiTranslate="craftBeerStoreApp.equipamiento.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let equipamiento of equipamientos ;trackBy: trackId">
                <td><a [routerLink]="['/equipamiento', equipamiento.id, 'view' ]">{{equipamiento.id}}</a></td>
                <td>{{equipamiento.nombreEquipamiento}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.TipoEquipamiento.' + equipamiento.tipoEquipamiento}}">{{equipamiento.tipoEquipamiento}}</td>
                <td>{{equipamiento.precio}}</td>
                <td>{{equipamiento.costoEnvio}}</td>
                <td>{{equipamiento.fechaCompra | date:'mediumDate'}}</td>
                <td>
                    <a *ngIf="equipamiento.imagen" (click)="openFile(equipamiento.imagenContentType, equipamiento.imagen)">
                        <img [src]="'data:' + equipamiento.imagenContentType + ';base64,' + equipamiento.imagen" style="max-height: 30px;" alt="equipamiento image"/>
                    </a>
                    <span *ngIf="equipamiento.imagen">{{equipamiento.imagenContentType}}, {{byteSize(equipamiento.imagen)}}</span>
                </td>
<!--                <td>-->
<!--                    <div *ngIf="equipamiento.empresaId">-->
<!--                        <a [routerLink]="['../empresa', equipamiento.empresaId , 'view' ]" >{{equipamiento.empresaNombreEmpresa}}</a>-->
<!--                    </div>-->
<!--                </td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/equipamiento', equipamiento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/equipamiento', equipamiento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'equipamiento', { outlets: { popup: equipamiento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="equipamientos && equipamientos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
