<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recetaInsumo">
            <h2><span jhiTranslate="craftBeerStoreApp.recetaInsumo.detail.title">Receta Insumo</span> {{recetaInsumo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="craftBeerStoreApp.recetaInsumo.tipoInsumo">Tipo Insumo</span></dt>
                <dd>
                    <span jhiTranslate="{{'craftBeerStoreApp.TipoInsumo.' + recetaInsumo.tipoInsumo}}">{{recetaInsumo.tipoInsumo}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.recetaInsumo.cantidad">Cantidad</span></dt>
                <dd>
                    <span>{{recetaInsumo.cantidad}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.recetaInsumo.insumo">Insumo</span></dt>
                <dd>
                    <div *ngIf="recetaInsumo.insumoId">
                        <a [routerLink]="['/insumo', recetaInsumo.insumoId, 'view']">{{recetaInsumo.insumoId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.recetaInsumo.receta">Receta</span></dt>
                <dd>
                    <div *ngIf="recetaInsumo.recetaId">
                        <a [routerLink]="['/receta', recetaInsumo.recetaId, 'view']">{{recetaInsumo.recetaId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/receta-insumo', recetaInsumo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
