
<div class="card">
  <div class="header">
    <mat-card-title>
      <h5><span jhiTranslate="dashboard.doughnutchart.home.title">Movimientos de Caja Chica</span></h5>
    </mat-card-title>
<!--    <mat-form-field class="example-full-width" >-->
<!--      <mat-label jhiTranslate="craftBeerStoreApp.movimientos.dias">Dias</mat-label>-->
<!--      <mat-select name="dias" [(ngModel)]="dias" id="field_dias" (selectionChange)="diasChange($event.value)">-->
<!--        <mat-option-->
<!--          value="7">7 Días-->
<!--        </mat-option>-->
<!--        <mat-option-->
<!--          value="15">15 Días-->
<!--        </mat-option>-->
<!--        <mat-option-->
<!--          value="30">30 Días-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
  </div>
  <div class="body">
    <div id="chart-top-products" class="chartist">
      <p-chart type="doughnut" [data]="data" ></p-chart>
    </div>
  </div>
</div>
