<div class="container-fluid">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
               (click)="toggleFullWidth()">
          <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
          <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
        </a>Meición</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i></a></li>
          <li class="breadcrumb-item">Producción</li>
          <li class="breadcrumb-item active">Lotes</li>
          <li class="breadcrumb-item active">Medición</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header">
      <h2 id="page-heading">
        <button (click)="previousState()" type="button" mat-raised-button class="mat-back">
          <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
      </h2>
    </div>
    <div class="body">
      <jhi-alert></jhi-alert>
      <br/>
      <div class="row justify-content-center">
        <div class="col-lg-3">
          <div *ngIf="lote">
            <div>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>
                    <!--                    <h2><span jhiTranslate="craftBeerStoreApp.lote.detail.title">Tanque</span> {{lote.codigo}}</h2>-->
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <dl class="row-md jh-entity-details align-center">
                    <img src="/assets/images/tanque.jpg" width="200">
                  </dl>
                  <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="craftBeerStoreApp.lote.detail.title">Codigo</span></dt>
                    <dd>
                      <span>{{lote.codigo}}</span>
                    </dd>
                  </dl>
                  <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="craftBeerStoreApp.lote.fechaCoccion">Fecha Coccion</span></dt>
                    <dd>
                      <span>{{lote.fechaCoccion | date:'mediumDate'}}</span>
                    </dd>
                  </dl>
                  <dt><span jhiTranslate="craftBeerStoreApp.lote.litrosEstimados">Litros Estimados</span></dt>
                  <dd>
                    <span>{{lote.litrosEstimados}}</span>
                  </dd>
                  <dt><span jhiTranslate="craftBeerStoreApp.lote.litrosEnTanque">Litros En Tanque</span></dt>
                  <dd>
                    <span>{{lote.litrosEnTanque}}</span>
                  </dd>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="mt-2">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>

                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <form name="editForm" role="form" novalidate #editForm="ngForm">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label jhiTranslate="craftBeerStoreApp.medicionLote.fechaRealizado" for="field_fechaAlta">Fecha Realizado</mat-label>
                        <input matInput id="field_fechaAlta" name="fechaAlta" [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="fechaRealizado">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <mat-form-field>
                          <mat-label jhiTranslate="craftBeerStoreApp.medicionLote.fechaRealizado" for="field_hora">Fecha Realizado</mat-label>
                          <input matInput placeholder="12hr format (default settings)" aria-label="12hr format" [ngxTimepicker]="default" readonly
                                 name="hora" [(ngModel)]="horaRealizado" id="field_hora">
                          <ngx-material-timepicker #default></ngx-material-timepicker>
                        </mat-form-field>
                      </div>

                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label jhiTranslate="craftBeerStoreApp.medicionLote.tanque" for="field_tanque">Tanque</mat-label>
                        <mat-select id="field_tanque" name="tanque" [(ngModel)]="medicionLote.tanqueId" >
                          <mat-option value="null"></mat-option>
                          <mat-option [value]="tanqueOption.id" *ngFor="let tanqueOption of tanques; trackBy: trackTanqueById">{{tanqueOption.nombre}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label jhiTranslate="craftBeerStoreApp.medicionLote.densidad" for="field_densidad">Densidad</mat-label>
                        <input type="number" matInput name="dia" id="field_densidad"
                               [(ngModel)]="medicionLote.densidad" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label jhiTranslate="craftBeerStoreApp.medicionLote.temperatura" for="field_temperatura">Temperatura</mat-label>
                        <input type="number" matInput name="dia" id="field_temperatura"
                               [(ngModel)]="medicionLote.temperatura" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-8">
                      <mat-form-field>
                        <mat-label jhiTranslate="craftBeerStoreApp.medicionLote.observacion" for="field_observacion">Observacion</mat-label>
                        <input type="text" matInput name="observacion" id="field_observacion"
                               [(ngModel)]="medicionLote.observacion" />
                      </mat-form-field>
                    </div>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="mt-2">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>

                </mat-card-title>
              </mat-card-header>
              <mat-card-content>

              </mat-card-content>
            </mat-card>
          </div>
          <div class="mt-2">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>

                </mat-card-title>
              </mat-card-header>
              <mat-card-content>

              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
