<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top">
          <img src="/assets/images/logo.png" alt="Craft Beer Management">
        </div>
        <div class="card">
          <div class="header">
            <h1 jhiTranslate="activate.title">Activation</h1>
          </div>
          <div class="body">
            <div class="alert alert-success" *ngIf="success">
              <span jhiTranslate="activate.messages.success"><strong>Your user account has been activated.</strong> Please </span>
              <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="activate.messages.error">
              <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
