<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="craftBeerStoreApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <mat-form-field class="example-full-width" [hidden]="!cliente.id" appearance="fill">
                    <mat-label jhiTranslate="global.field.id">ID </mat-label>
                    <input matInput placeholder="id" id="id" name="id"
                           [(ngModel)]="cliente.id" readonly>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.cliente.nombeApellido" for="field_nombeApellido">Nombre Apellido</mat-label>
                    <input type="text" matInput name="nombeApellido" id="field_nombeApellido"
                           [(ngModel)]="cliente.nombeApellido" required/>
                    <mat-error [hidden]="!(editForm.controls.nombeApellido?.dirty && editForm.controls.nombeApellido?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.nombeApellido?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.cliente.domicilio" for="field_domicilio">Domicilio</mat-label>
                    <input type="text" matInput name="domicilio" id="field_domicilio"
                           [(ngModel)]="cliente.domicilio" required/>
                    <mat-error [hidden]="!(editForm.controls.domicilio?.dirty && editForm.controls.domicilio?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.domicilio?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.cliente.tipoCliente">Tipo Cliente</mat-label>
                    <mat-select  name="tipoCliente" [(ngModel)]="cliente.tipoCliente" id="field_tipoCliente" required>
                        <mat-option value="CONSUMIDOR_FINAL">{{'craftBeerStoreApp.TipoCliente.CONSUMIDOR_FINAL' | translate}}</mat-option>
                        <mat-option value="RESPONSABLE_INSCRIPTO">{{'craftBeerStoreApp.TipoCliente.RESPONSABLE_INSCRIPTO' | translate}}</mat-option>
                        <mat-option value="OTRO">{{'craftBeerStoreApp.TipoCliente.OTRO' | translate}}</mat-option>
                    </mat-select>
                    <mat-error [hidden]="!(editForm.controls.tipoCliente?.dirty && editForm.controls.tipoCliente?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.tipoCliente?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.cliente.telefono" for="field_telefono">Telefono</mat-label>
                    <input type="text" matInput name="telefono" id="field_telefono"
                           [(ngModel)]="cliente.telefono" required/>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.cliente.correo" for="field_correo">Correo</mat-label>
                    <input type="text" matInput name="correo" id="field_correo"
                           [(ngModel)]="cliente.correo" required/>
                    <mat-error [hidden]="!(editForm.controls.correo?.dirty && editForm.controls.correo?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.correo?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Correo' }">
                            This field should follow pattern for "Correo".
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button type="button" id="cancel-save" mat-raised-button class="mat-cancel"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" mat-raised-button class="mat-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
