<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><span jhiTranslate="craftBeerStoreApp.cliente.detail.title">Cliente: </span>: {{cliente.nombreApellido}}</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Entidad</li>
                    <li class="breadcrumb-item active">Punto de Venta</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <!--            <h2 id="jhi-punto-de-venta-heading" jhiTranslate="craftBeerStoreApp.puntoDeVenta.home.createOrEditLabel">Create or edit a Punto De Venta</h2>-->
        </div>
        <div class="body">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div *ngIf="cliente">
                        <hr>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="mat-elevation-z8">
                            <mat-card class="example-card">

                                <mat-card-content>
                                    <dl class="row-md jh-entity-details">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.cliente.nombreApellido">Nombre Apellido</span></dt>
                                                <dd>
                                                    <span>{{cliente.nombreApellido}}</span>
                                                </dd>
                                            </div>
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.cliente.domicilio">Domicilio</span></dt>
                                                <dd>
                                                    <span>{{cliente.domicilio}}</span>
                                                </dd>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.cliente.localidad">Localidad</span></dt>
                                                <dd>
                                                    <span>{{cliente.localidad}}</span>
                                                </dd>
                                            </div>
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.cliente.codigoPostal">Codigo Postal</span></dt>
                                                <dd>
                                                    <span>{{cliente.codigoPostal}}</span>
                                                </dd>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.cliente.provincia">Provincia</span></dt>
                                                <dd>
                                                    <span jhiTranslate="{{'craftBeerStoreApp.Provincia.' + cliente.provincia}}">{{cliente.provincia}}</span>
                                                </dd>
                                            </div>
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.cliente.tipoCliente">Tipo Cliente</span></dt>
                                                <dd>
                                                    <span jhiTranslate="{{'craftBeerStoreApp.TipoCliente.' + cliente.tipoCliente}}">{{cliente.tipoCliente}}</span>
                                                </dd>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.cliente.telefono">Telefono</span></dt>
                                                <dd>
                                                    <span>{{cliente.telefono}}</span>
                                                </dd>
                                            </div>
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.cliente.correo">Correo</span></dt>
                                                <dd>
                                                    <span>{{cliente.correo}}</span>
                                                </dd>
                                            </div>
                                        </div>
                                    </dl>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button type="submit"
                                            (click)="previousState()"
                                            mat-raised-button class="mat-back">
                                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                                    </button>
                                    <button type="button"
                                            [routerLink]="['/cliente', cliente.id, 'edit']"
                                            mat-raised-button class="mat-success">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

