<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="craftBeerStoreApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cliente.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cliente.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.cliente.nombeApellido" for="field_nombeApellido">Nombe Apellido</label>
                    <input type="text" class="form-control" name="nombeApellido" id="field_nombeApellido"
                        [(ngModel)]="cliente.nombeApellido" required/>
                    <div [hidden]="!(editForm.controls.nombeApellido?.dirty && editForm.controls.nombeApellido?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombeApellido?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.cliente.domicilio" for="field_domicilio">Domicilio</label>
                    <input type="text" class="form-control" name="domicilio" id="field_domicilio"
                        [(ngModel)]="cliente.domicilio" required/>
                    <div [hidden]="!(editForm.controls.domicilio?.dirty && editForm.controls.domicilio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.domicilio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.cliente.tipoCliente" for="field_tipoCliente">Tipo Cliente</label>
                    <select class="form-control" name="tipoCliente" [(ngModel)]="cliente.tipoCliente" id="field_tipoCliente"  required>
                        <option value="CONSUMIDOR_FINAL">{{'craftBeerStoreApp.TipoCliente.CONSUMIDOR_FINAL' | translate}}</option>
                        <option value="RESPONSABLE_INSCRIPTO">{{'craftBeerStoreApp.TipoCliente.RESPONSABLE_INSCRIPTO' | translate}}</option>
                        <option value="OTRO">{{'craftBeerStoreApp.TipoCliente.OTRO' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.tipoCliente?.dirty && editForm.controls.tipoCliente?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipoCliente?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.cliente.telefono" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                        [(ngModel)]="cliente.telefono" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.cliente.correo" for="field_correo">Correo</label>
                    <input type="text" class="form-control" name="correo" id="field_correo"
                        [(ngModel)]="cliente.correo" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                    <div [hidden]="!(editForm.controls.correo?.dirty && editForm.controls.correo?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.correo?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Correo' }">
                            This field should follow pattern for "Correo".
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" mat-raised-button class="mat-cancel"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" mat-raised-button class="mat-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
