<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="craftBeerStoreApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <mat-form-field class="example-full-width" [hidden]="!cliente.id" appearance="fill">
                    <mat-label jhiTranslate="global.field.id">ID </mat-label>
                    <input matInput placeholder="id" id="id" name="id"
                           [(ngModel)]="cliente.id" readonly>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.cliente.nombreApellido" for="field_nombreApellido">Nombre Apellido</mat-label>
                    <input type="text" matInput name="nombreApellido" id="field_nombreApellido"
                           [(ngModel)]="cliente.nombreApellido" required/>
                    <mat-error [hidden]="!(editForm.controls.nombreApellido?.dirty && editForm.controls.nombreApellido?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.nombreApellido?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.cliente.domicilio" for="field_domicilio">Domicilio</mat-label>
                    <input type="text" matInput name="domicilio" id="field_domicilio"
                           [(ngModel)]="cliente.domicilio" required/>
                    <mat-error [hidden]="!(editForm.controls.domicilio?.dirty && editForm.controls.domicilio?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.domicilio?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.cliente.tipoCliente">Tipo Cliente</mat-label>
                    <mat-select  name="tipoCliente" [(ngModel)]="cliente.tipoCliente" id="field_tipoCliente" required>
                        <mat-option value="CONSUMIDOR_FINAL">{{'craftBeerStoreApp.TipoCliente.CONSUMIDOR_FINAL' | translate}}</mat-option>
                        <mat-option value="RESPONSABLE_INSCRIPTO">{{'craftBeerStoreApp.TipoCliente.RESPONSABLE_INSCRIPTO' | translate}}</mat-option>
                        <mat-option value="OTRO">{{'craftBeerStoreApp.TipoCliente.OTRO' | translate}}</mat-option>
                    </mat-select>
                    <mat-error [hidden]="!(editForm.controls.tipoCliente?.dirty && editForm.controls.tipoCliente?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.tipoCliente?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.cliente.telefono" for="field_telefono">Telefono</mat-label>
                    <input type="text" matInput name="telefono" id="field_telefono"
                           [(ngModel)]="cliente.telefono" required/>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.cliente.correo" for="field_correo">Correo</mat-label>
                    <input type="text" matInput name="correo" id="field_correo"
                           [(ngModel)]="cliente.correo" required/>
                    <mat-error [hidden]="!(editForm.controls.correo?.dirty && editForm.controls.correo?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.correo?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Correo' }">
                            This field should follow pattern for "Correo".
                        </small>
                    </mat-error>
                </mat-form-field>

                <div class="row">
                    <div class="container" *ngIf="!cliente.id">
                        <div class="card mat-elevation-z8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="craftBeerStoreApp.puntoDeVenta.nombre" for="field_nombre">Nombre</label>
                                            <input type="text" class="form-control" name="nombre" id="field_nombre"
                                                   [(ngModel)]="puntoDeVenta.nombre" required/>
                                            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                                                <small class="form-text text-danger"
                                                       [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                                                    This field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="craftBeerStoreApp.puntoDeVenta.direccionDeEntrega" for="field_direccionDeEntrega">Direccion De Entrega</label>
                                            <input type="text" class="form-control" name="direccionDeEntrega" id="field_direccionDeEntrega"
                                                   [(ngModel)]="puntoDeVenta.direccionDeEntrega" required/>
                                            <div [hidden]="!(editForm.controls.direccionDeEntrega?.dirty && editForm.controls.direccionDeEntrega?.invalid)">
                                                <small class="form-text text-danger"
                                                       [hidden]="!editForm.controls.direccionDeEntrega?.errors?.required" jhiTranslate="entity.validation.required">
                                                    This field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="craftBeerStoreApp.puntoDeVenta.localidad" for="field_localidad">Localidad</label>
                                            <input type="text" class="form-control" name="localidad" id="field_localidad"
                                                   [(ngModel)]="puntoDeVenta.localidad" required/>
                                            <div [hidden]="!(editForm.controls.localidad?.dirty && editForm.controls.localidad?.invalid)">
                                                <small class="form-text text-danger"
                                                       [hidden]="!editForm.controls.localidad?.errors?.required" jhiTranslate="entity.validation.required">
                                                    This field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="craftBeerStoreApp.puntoDeVenta.notas" for="field_notas">Notas</label>
                                            <textarea class="form-control" name="notas" id="field_notas"
                                                      [(ngModel)]="puntoDeVenta.notas" ></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" mat-raised-button class="mat-success" (click)="addPuntoDeVenta()"> Agregar</button>
                                    </div>
                                    <div class="col-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="table-responsive" *ngIf="puntosDeVenta">
                        <thead>
                        <tr>
                            <th><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.nombre">Nombre</span></th>
                            <th><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.direccionDeEntrega">Direccion De Entrega</span></th>
                            <th><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.localidad">Localidad</span></th>
                            <th><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.notas">Notas</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let puntoDeVenta of puntosDeVenta">
                            <td>{{puntoDeVenta.nombre}}</td>
                            <td>{{puntoDeVenta.direccionDeEntrega}}</td>
                            <td>{{puntoDeVenta.localidad}}</td>
                            <td>{{puntoDeVenta.notas}}</td>
                        </tr>
                        </tbody>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" mat-raised-button class="mat-cancel"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" mat-raised-button class="mat-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
