<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.proveedor.home.title">Proveedors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proveedor" [routerLink]="['/proveedor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.proveedor.home.createLabel">
            Create a new Proveedor
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="proveedors?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.proveedor.home.notFound">No proveedors found</span>
    </div>
    <div class="table-responsive" *ngIf="proveedors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombreProveedor"><span jhiTranslate="craftBeerStoreApp.proveedor.nombreProveedor">Nombre Proveedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="razonSocial"><span jhiTranslate="craftBeerStoreApp.proveedor.razonSocial">Razon Social</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cuit"><span jhiTranslate="craftBeerStoreApp.proveedor.cuit">Cuit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="telefono"><span jhiTranslate="craftBeerStoreApp.proveedor.telefono">Telefono</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fechaAlta"><span jhiTranslate="craftBeerStoreApp.proveedor.fechaAlta">Fecha Alta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="domicilio"><span jhiTranslate="craftBeerStoreApp.proveedor.domicilio">Domicilio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="correo"><span jhiTranslate="craftBeerStoreApp.proveedor.correo">Correo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="notas"><span jhiTranslate="craftBeerStoreApp.proveedor.notas">Notas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="condicionFiscal"><span jhiTranslate="craftBeerStoreApp.proveedor.condicionFiscal">Condicion Fiscal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localidad"><span jhiTranslate="craftBeerStoreApp.proveedor.localidad">Localidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoPostal"><span jhiTranslate="craftBeerStoreApp.proveedor.codigoPostal">Codigo Postal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="provincia"><span jhiTranslate="craftBeerStoreApp.proveedor.provincia">Provincia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contacto"><span jhiTranslate="craftBeerStoreApp.proveedor.contacto">Contacto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empresaId"><span jhiTranslate="craftBeerStoreApp.proveedor.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proveedor of proveedors ;trackBy: trackId">
                <td><a [routerLink]="['/proveedor', proveedor.id, 'view' ]">{{proveedor.id}}</a></td>
                <td>{{proveedor.nombreProveedor}}</td>
                <td>{{proveedor.razonSocial}}</td>
                <td>{{proveedor.cuit}}</td>
                <td>{{proveedor.telefono}}</td>
                <td>{{proveedor.fechaAlta | date:'mediumDate'}}</td>
                <td>{{proveedor.domicilio}}</td>
                <td>{{proveedor.correo}}</td>
                <td>{{proveedor.notas}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.CondicionFiscal.' + proveedor.condicionFiscal}}">{{proveedor.condicionFiscal}}</td>
                <td>{{proveedor.localidad}}</td>
                <td>{{proveedor.codigoPostal}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.Provincia.' + proveedor.provincia}}">{{proveedor.provincia}}</td>
                <td>{{proveedor.contacto}}</td>
                <td>
                    <div *ngIf="proveedor.empresaId">
                        <a [routerLink]="['/empresa', proveedor.empresaId , 'view' ]" >{{proveedor.empresaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/proveedor', proveedor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proveedor', proveedor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(proveedor)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="proveedors?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
