<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 id="jhi-proveedor-heading" jhiTranslate="craftBeerStoreApp.proveedor.home.createOrEditLabel">Create or edit a Proveedor</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Entidad</li>
                    <li class="breadcrumb-item active">Proveedor</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="header">

        </div>
        <div class="body">
            <div class="row justify-content-center">
                <div class="col-8">
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.nombreProveedor" for="field_nombreProveedor">Nombre Proveedor</mat-label>
                                        <input type="text" matInput name="nombreProveedor" id="field_nombreProveedor" required
                                               [(ngModel)]="proveedor.nombreProveedor" />
                                        <mat-error [hidden]="!(editForm.controls.nombreProveedor?.dirty && editForm.controls.nombreProveedor?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.nombreProveedor?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.razonSocial" for="field_razonSocial">Razon Social</mat-label>
                                        <input type="text" matInput name="razonSocial" id="field_razonSocial"
                                               [(ngModel)]="proveedor.razonSocial" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.condicionFiscal" for="field_condicionFiscal">Condición Fiscal</mat-label>
                                        <mat-select name="condicionFiscal" [(ngModel)]="proveedor.condicionFiscal" id="field_condicionFiscal">
                                            <mat-option value="RESPONSABLE_INSCRIPTO">{{'craftBeerStoreApp.CondicionFiscal.RESPONSABLE_INSCRIPTO' | translate}}</mat-option>
                                            <mat-option value="MONOTRIBUTISTA">{{'craftBeerStoreApp.CondicionFiscal.MONOTRIBUTISTA' | translate}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.cuit" for="field_cuit">CUIT</mat-label>
                                        <input type="text" matInput name="cuit" id="field_cuit"
                                               [(ngModel)]="proveedor.cuit" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.telefono" for="field_telefono">Telefono</mat-label>
                                        <input type="text" matInput name="telefono" id="field_telefono"
                                               [(ngModel)]="proveedor.telefono" />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.fechaAlta" for="field_fechaAlta">Fecha Alta</mat-label>
                                        <input matInput id="field_fechaAlta" name="fechaAlta" [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="fechaAltaDp">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.domicilio" for="field_domicilio">Domicilio</mat-label>
                                        <input type="text" matInput name="domicilio" id="field_domicilio"
                                               [(ngModel)]="proveedor.domicilio" />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.localidad" for="field_localidad">Localidad</mat-label>
                                        <input type="text" matInput name="localidad" id="field_localidad"
                                               [(ngModel)]="proveedor.localidad" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.codigoPostal" for="field_codigoPostal">Código Postal</mat-label>
                                        <input type="number" matInput name="codigoPostal" id="field_codigoPostal"
                                               [(ngModel)]="proveedor.codigoPostal" />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.provincia" for="field_provincia">Provincia</mat-label>
                                        <mat-select name="provincia" [(ngModel)]="proveedor.provincia" id="field_provincia">
                                            <mat-option value="MISIONES">{{'craftBeerStoreApp.Provincia.MISIONES' | translate}}</mat-option>
                                            <mat-option value="SAN_LUIS">{{'craftBeerStoreApp.Provincia.SAN_LUIS' | translate}}</mat-option>
                                            <mat-option value="SAN_JUAN">{{'craftBeerStoreApp.Provincia.SAN_JUAN' | translate}}</mat-option>
                                            <mat-option value="ENTRE_RIOS">{{'craftBeerStoreApp.Provincia.ENTRE_RIOS' | translate}}</mat-option>
                                            <mat-option value="SANTA_CRUZ">{{'craftBeerStoreApp.Provincia.SANTA_CRUZ' | translate}}</mat-option>
                                            <mat-option value="RIO_NEGRO">{{'craftBeerStoreApp.Provincia.RIO_NEGRO' | translate}}</mat-option>
                                            <mat-option value="CHUBUT">{{'craftBeerStoreApp.Provincia.CHUBUT' | translate}}</mat-option>
                                            <mat-option value="CORDOBA">{{'craftBeerStoreApp.Provincia.CORDOBA' | translate}}</mat-option>
                                            <mat-option value="MENDOZA">{{'craftBeerStoreApp.Provincia.MENDOZA' | translate}}</mat-option>
                                            <mat-option value="LA_RIOJA">{{'craftBeerStoreApp.Provincia.LA_RIOJA' | translate}}</mat-option>
                                            <mat-option value="CATAMARCA">{{'craftBeerStoreApp.Provincia.CATAMARCA' | translate}}</mat-option>
                                            <mat-option value="LA_PAMPA">{{'craftBeerStoreApp.Provincia.LA_PAMPA' | translate}}</mat-option>
                                            <mat-option value="SANTIAGO_DEL_ESTERO">{{'craftBeerStoreApp.Provincia.SANTIAGO_DEL_ESTERO' | translate}}</mat-option>
                                            <mat-option value="CORRIENTES">{{'craftBeerStoreApp.Provincia.CORRIENTES' | translate}}</mat-option>
                                            <mat-option value="SANTA_FE">{{'craftBeerStoreApp.Provincia.SANTA_FE' | translate}}</mat-option>
                                            <mat-option value="TUCUMAN">{{'craftBeerStoreApp.Provincia.TUCUMAN' | translate}}</mat-option>
                                            <mat-option value="NEUQUEN">{{'craftBeerStoreApp.Provincia.NEUQUEN' | translate}}</mat-option>
                                            <mat-option value="SALTA">{{'craftBeerStoreApp.Provincia.SALTA' | translate}}</mat-option>
                                            <mat-option value="CHACO">{{'craftBeerStoreApp.Provincia.CHACO' | translate}}</mat-option>
                                            <mat-option value="FORMOSA">{{'craftBeerStoreApp.Provincia.FORMOSA' | translate}}</mat-option>
                                            <mat-option value="JUJUY">{{'craftBeerStoreApp.Provincia.JUJUY' | translate}}</mat-option>
                                            <mat-option value="CIUDAD_AUTONOMA_DE_BUENOS_AIRES">{{'craftBeerStoreApp.Provincia.CIUDAD_AUTONOMA_DE_BUENOS_AIRES' | translate}}</mat-option>
                                            <mat-option value="BUENOS_AIRES">{{'craftBeerStoreApp.Provincia.BUENOS_AIRES' | translate}}</mat-option>
                                            <mat-option value="TIERRA_DEL_FUEGO_ANTARTIDA_E_ISLAS_DEL_ATLANTICO_SUR">{{'craftBeerStoreApp.Provincia.TIERRA_DEL_FUEGO_ANTARTIDA_E_ISLAS_DEL_ATLANTICO_SUR' | translate}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.correo" for="field_correo">Correo</mat-label>
                                        <input type="text" matInput name="correo" id="field_correo" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                               [(ngModel)]="proveedor.correo" />
                                        <mat-error [hidden]="!(editForm.controls.correo?.dirty && editForm.controls.correo?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.correo?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.correo?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }">
                                                This field should follow pattern for "Email".
                                            </small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label jhiTranslate="craftBeerStoreApp.proveedor.notas">Notas</mat-label>
                                        <textarea matInput type="text" id="notas" name="notas"
                                                  [(ngModel)]="proveedor.notas" ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" id="cancel-save" mat-raised-button class="mat-cancel"  (click)="previousState()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" mat-raised-button class="mat-success">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

