<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.proveedor.home.title">Proveedors</span>
        <button id="jh-create-entity" mat-raised-button color="primary" class="float-right jh-create-entity create-proveedor" [routerLink]="['/proveedor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="craftBeerStoreApp.proveedor.home.createLabel">
            Create new Proveedor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'craftBeerStoreApp.proveedor.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="proveedors">
        <div class="mat-elevation-z8 table-responsive">
            <table mat-table [dataSource]="dataSource" style="width: 100%;" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="id"> <span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let proveedor"> {{proveedor.id}} </td>
                </ng-container>
                <ng-container matColumnDef="nombreProveedor">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="nombreProveedor"> <span jhiTranslate="craftBeerStoreApp.proveedor.nombreProveedor">Nombre Proveedor</span><fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let proveedor" > {{proveedor.nombreProveedor}} </td>
                </ng-container>
                <ng-container matColumnDef="razonSocial">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="razonSocial"> <span jhiTranslate="craftBeerStoreApp.proveedor.razonSocial">Razon Social</span><fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let proveedor" > {{proveedor.razonSocial}} </td>
                </ng-container>
                <ng-container matColumnDef="cuit">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="cuit"> <span jhiTranslate="craftBeerStoreApp.proveedor.cuit">CUIT</span><fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let proveedor" > {{proveedor.cuit}} </td>
                </ng-container>
                <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="telefono"> <span jhiTranslate="craftBeerStoreApp.proveedor.telefono">Telefono</span><fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let proveedor" > {{proveedor.telefono}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaAlta">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="fechaAlta"> <span jhiTranslate="craftBeerStoreApp.proveedor.fechaAlta">Fecha Alta</span><fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let proveedor" > {{proveedor.fechaAlta | date:'mediumDate'}} </td>
                </ng-container>
                <ng-container matColumnDef="domicilio">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="domicilio"> <span jhiTranslate="craftBeerStoreApp.proveedor.domicilio">Domicilio</span><fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let proveedor" > {{proveedor.domicilio}} </td>
                </ng-container>
                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="correo"> <span jhiTranslate="craftBeerStoreApp.proveedor.correo">Correo</span><fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let proveedor" > {{proveedor.correo}} </td>
                </ng-container>
                <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let proveedor" style="width: 20%">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/proveedor', proveedor.id, 'view' ]"
                                    mat-raised-button color="primary">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/proveedor', proveedor.id, 'edit']"
                                    mat-raised-button class="mat-edit">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', 'proveedor', { outlets: { popup: proveedor.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    mat-raised-button color="warn">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="totalItems"
                           [pageSize]="itemsPerPage"
                           (page)="pageEvent = $event; onPaginateChange($event)"></mat-paginator>
        </div>
    </div>
</div>
