<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-proveedor-heading" jhiTranslate="craftBeerStoreApp.proveedor.home.createOrEditLabel">Create or edit a Proveedor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.nombreProveedor" for="field_nombreProveedor">Nombre Proveedor</label>
                    <input type="text" class="form-control" name="nombreProveedor" id="field_nombreProveedor"
                           formControlName="nombreProveedor"/>
                    <div *ngIf="editForm.get('nombreProveedor').invalid && (editForm.get('nombreProveedor').dirty || editForm.get('nombreProveedor').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreProveedor').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.razonSocial" for="field_razonSocial">Razon Social</label>
                    <input type="text" class="form-control" name="razonSocial" id="field_razonSocial"
                           formControlName="razonSocial"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.cuit" for="field_cuit">Cuit</label>
                    <input type="text" class="form-control" name="cuit" id="field_cuit"
                           formControlName="cuit"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.telefono" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                           formControlName="telefono"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.fechaAlta" for="field_fechaAlta">Fecha Alta</label>
                    <div class="input-group">
                        <input id="field_fechaAlta" type="text" class="form-control" name="fechaAlta" ngbDatepicker  #fechaAltaDp="ngbDatepicker" formControlName="fechaAlta"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaAltaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechaAlta').invalid && (editForm.get('fechaAlta').dirty || editForm.get('fechaAlta').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaAlta').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.domicilio" for="field_domicilio">Domicilio</label>
                    <input type="text" class="form-control" name="domicilio" id="field_domicilio"
                           formControlName="domicilio"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.correo" for="field_correo">Correo</label>
                    <input type="text" class="form-control" name="correo" id="field_correo"
                           formControlName="correo"/>
                    <div *ngIf="editForm.get('correo').invalid && (editForm.get('correo').dirty || editForm.get('correo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('correo').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Correo' }">
                            This field should follow pattern for "Correo".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.notas" for="field_notas">Notas</label>
                    <textarea class="form-control" name="notas" id="field_notas"
                              formControlName="notas"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.condicionFiscal" for="field_condicionFiscal">Condicion Fiscal</label>
                    <select class="form-control" name="condicionFiscal" formControlName="condicionFiscal" id="field_condicionFiscal">
                        <option value="RESPONSABLE_INSCRIPTO">{{'craftBeerStoreApp.CondicionFiscal.RESPONSABLE_INSCRIPTO' | translate}}</option>
                        <option value="MONOTRIBUTISTA">{{'craftBeerStoreApp.CondicionFiscal.MONOTRIBUTISTA' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.localidad" for="field_localidad">Localidad</label>
                    <input type="text" class="form-control" name="localidad" id="field_localidad"
                           formControlName="localidad"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.codigoPostal" for="field_codigoPostal">Codigo Postal</label>
                    <input type="number" class="form-control" name="codigoPostal" id="field_codigoPostal"
                           formControlName="codigoPostal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.provincia" for="field_provincia">Provincia</label>
                    <select class="form-control" name="provincia" formControlName="provincia" id="field_provincia">
                        <option value="MISIONES">{{'craftBeerStoreApp.Provincia.MISIONES' | translate}}</option>
                        <option value="SAN_LUIS">{{'craftBeerStoreApp.Provincia.SAN_LUIS' | translate}}</option>
                        <option value="SAN_JUAN">{{'craftBeerStoreApp.Provincia.SAN_JUAN' | translate}}</option>
                        <option value="ENTRE_RIOS">{{'craftBeerStoreApp.Provincia.ENTRE_RIOS' | translate}}</option>
                        <option value="SANTA_CRUZ">{{'craftBeerStoreApp.Provincia.SANTA_CRUZ' | translate}}</option>
                        <option value="RIO_NEGRO">{{'craftBeerStoreApp.Provincia.RIO_NEGRO' | translate}}</option>
                        <option value="CHUBUT">{{'craftBeerStoreApp.Provincia.CHUBUT' | translate}}</option>
                        <option value="CORDOBA">{{'craftBeerStoreApp.Provincia.CORDOBA' | translate}}</option>
                        <option value="MENDOZA">{{'craftBeerStoreApp.Provincia.MENDOZA' | translate}}</option>
                        <option value="LA_RIOJA">{{'craftBeerStoreApp.Provincia.LA_RIOJA' | translate}}</option>
                        <option value="CATAMARCA">{{'craftBeerStoreApp.Provincia.CATAMARCA' | translate}}</option>
                        <option value="LA_PAMPA">{{'craftBeerStoreApp.Provincia.LA_PAMPA' | translate}}</option>
                        <option value="SANTIAGO_DEL_ESTERO">{{'craftBeerStoreApp.Provincia.SANTIAGO_DEL_ESTERO' | translate}}</option>
                        <option value="CORRIENTES">{{'craftBeerStoreApp.Provincia.CORRIENTES' | translate}}</option>
                        <option value="SANTA_FE">{{'craftBeerStoreApp.Provincia.SANTA_FE' | translate}}</option>
                        <option value="TUCUMAN">{{'craftBeerStoreApp.Provincia.TUCUMAN' | translate}}</option>
                        <option value="NEUQUEN">{{'craftBeerStoreApp.Provincia.NEUQUEN' | translate}}</option>
                        <option value="SALTA">{{'craftBeerStoreApp.Provincia.SALTA' | translate}}</option>
                        <option value="CHACO">{{'craftBeerStoreApp.Provincia.CHACO' | translate}}</option>
                        <option value="FORMOSA">{{'craftBeerStoreApp.Provincia.FORMOSA' | translate}}</option>
                        <option value="JUJUY">{{'craftBeerStoreApp.Provincia.JUJUY' | translate}}</option>
                        <option value="CIUDAD_AUTONOMA_DE_BUENOS_AIRES">{{'craftBeerStoreApp.Provincia.CIUDAD_AUTONOMA_DE_BUENOS_AIRES' | translate}}</option>
                        <option value="BUENOS_AIRES">{{'craftBeerStoreApp.Provincia.BUENOS_AIRES' | translate}}</option>
                        <option value="TIERRA_DEL_FUEGO_ANTARTIDA_E_ISLAS_DEL_ATLANTICO_SUR">{{'craftBeerStoreApp.Provincia.TIERRA_DEL_FUEGO_ANTARTIDA_E_ISLAS_DEL_ATLANTICO_SUR' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.contacto" for="field_contacto">Contacto</label>
                    <input type="text" class="form-control" name="contacto" id="field_contacto"
                           formControlName="contacto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.proveedor.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" formControlName="empresaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresaOption.id" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
