<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.movimientos.home.title">Movimientos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-movimientos" [routerLink]="['/movimientos/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.movimientos.home.createLabel">
            Create a new Movimientos
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="movimientos?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.movimientos.home.notFound">No movimientos found</span>
    </div>
    <div class="table-responsive" *ngIf="movimientos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipoMovimiento"><span jhiTranslate="craftBeerStoreApp.movimientos.tipoMovimiento">Tipo Movimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fechaMovimiento"><span jhiTranslate="craftBeerStoreApp.movimientos.fechaMovimiento">Fecha Movimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="precioTotal"><span jhiTranslate="craftBeerStoreApp.movimientos.precioTotal">Precio Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroMovimiento"><span jhiTranslate="craftBeerStoreApp.movimientos.numeroMovimiento">Numero Movimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="estado"><span jhiTranslate="craftBeerStoreApp.movimientos.estado">Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="litrosTotales"><span jhiTranslate="craftBeerStoreApp.movimientos.litrosTotales">Litros Totales</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="clienteNombreApellido"><span jhiTranslate="craftBeerStoreApp.movimientos.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empresaNombreEmpresa"><span jhiTranslate="craftBeerStoreApp.movimientos.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="puntoDeVentaId"><span jhiTranslate="craftBeerStoreApp.movimientos.puntoDeVenta">Punto De Venta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movimientos of movimientos ;trackBy: trackId">
                <td><a [routerLink]="['/movimientos', movimientos.id, 'view' ]">{{movimientos.id}}</a></td>
                <td jhiTranslate="{{'craftBeerStoreApp.TipoMovimiento.' + movimientos.tipoMovimiento}}">{{movimientos.tipoMovimiento}}</td>
                <td>{{movimientos.fechaMovimiento | date:'mediumDate'}}</td>
                <td>{{movimientos.precioTotal}}</td>
                <td>{{movimientos.numeroMovimiento}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.EstadoMovimiento.' + movimientos.estado}}">{{movimientos.estado}}</td>
                <td>{{movimientos.litrosTotales}}</td>
                <td>
                    <div *ngIf="movimientos.clienteId">
                        <a [routerLink]="['/cliente', movimientos.clienteId , 'view' ]" >{{movimientos.clienteNombreApellido}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimientos.empresaId">
                        <a [routerLink]="['/empresa', movimientos.empresaId , 'view' ]" >{{movimientos.empresaNombreEmpresa}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimientos.puntoDeVentaId">
                        <a [routerLink]="['/punto-de-venta', movimientos.puntoDeVentaId , 'view' ]" >{{movimientos.puntoDeVentaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/movimientos', movimientos.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/movimientos', movimientos.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(movimientos)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="movimientos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
