<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-movimientos-heading" jhiTranslate="craftBeerStoreApp.movimientos.home.createOrEditLabel">Create or edit a Movimientos</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.movimientos.tipoMovimiento" for="field_tipoMovimiento">Tipo Movimiento</label>
                    <select class="form-control" name="tipoMovimiento" formControlName="tipoMovimiento" id="field_tipoMovimiento">
                        <option value="PRESUPUESTO">{{'craftBeerStoreApp.TipoMovimiento.PRESUPUESTO' | translate}}</option>
                        <option value="VENTA">{{'craftBeerStoreApp.TipoMovimiento.VENTA' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('tipoMovimiento').invalid && (editForm.get('tipoMovimiento').dirty || editForm.get('tipoMovimiento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipoMovimiento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.movimientos.fechaMovimiento" for="field_fechaMovimiento">Fecha Movimiento</label>
                    <div class="input-group">
                        <input id="field_fechaMovimiento" type="text" class="form-control" name="fechaMovimiento" ngbDatepicker  #fechaMovimientoDp="ngbDatepicker" formControlName="fechaMovimiento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaMovimientoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechaMovimiento').invalid && (editForm.get('fechaMovimiento').dirty || editForm.get('fechaMovimiento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaMovimiento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.movimientos.precioTotal" for="field_precioTotal">Precio Total</label>
                    <input type="number" class="form-control" name="precioTotal" id="field_precioTotal"
                           formControlName="precioTotal"/>
                    <div *ngIf="editForm.get('precioTotal').invalid && (editForm.get('precioTotal').dirty || editForm.get('precioTotal').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('precioTotal').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('precioTotal')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.movimientos.numeroMovimiento" for="field_numeroMovimiento">Numero Movimiento</label>
                    <input type="text" class="form-control" name="numeroMovimiento" id="field_numeroMovimiento"
                           formControlName="numeroMovimiento"/>
                    <div *ngIf="editForm.get('numeroMovimiento').invalid && (editForm.get('numeroMovimiento').dirty || editForm.get('numeroMovimiento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroMovimiento').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.movimientos.estado" for="field_estado">Estado</label>
                    <select class="form-control" name="estado" formControlName="estado" id="field_estado">
                        <option value="ACTIVO">{{'craftBeerStoreApp.EstadoMovimiento.ACTIVO' | translate}}</option>
                        <option value="INACTIVO">{{'craftBeerStoreApp.EstadoMovimiento.INACTIVO' | translate}}</option>
                        <option value="ENTREGADO">{{'craftBeerStoreApp.EstadoMovimiento.ENTREGADO' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('estado').invalid && (editForm.get('estado').dirty || editForm.get('estado').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estado').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.movimientos.litrosTotales" for="field_litrosTotales">Litros Totales</label>
                    <input type="number" class="form-control" name="litrosTotales" id="field_litrosTotales"
                           formControlName="litrosTotales"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.movimientos.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="clienteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nombreApellido}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.movimientos.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" formControlName="empresaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresaOption.id" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.nombreEmpresa}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.movimientos.puntoDeVenta" for="field_puntoDeVenta">Punto De Venta</label>
                    <select class="form-control" id="field_puntoDeVenta" name="puntoDeVenta" formControlName="puntoDeVentaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="puntoDeVentaOption.id" *ngFor="let puntoDeVentaOption of puntodeventas; trackBy: trackPuntoDeVentaById">{{puntoDeVentaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
