<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.lote.home.title">Lotes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lote" [routerLink]="['/lote/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.lote.home.createLabel">
            Create a new Lote
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="lotes?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.lote.home.notFound">No lotes found</span>
    </div>
    <div class="table-responsive" *ngIf="lotes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigo"><span jhiTranslate="craftBeerStoreApp.lote.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fechaCoccion"><span jhiTranslate="craftBeerStoreApp.lote.fechaCoccion">Fecha Coccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="coccion"><span jhiTranslate="craftBeerStoreApp.lote.coccion">Coccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="craftBeerStoreApp.lote.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descuentaStock"><span jhiTranslate="craftBeerStoreApp.lote.descuentaStock">Descuenta Stock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="estado"><span jhiTranslate="craftBeerStoreApp.lote.estado">Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="litrosEstimados"><span jhiTranslate="craftBeerStoreApp.lote.litrosEstimados">Litros Estimados</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="litrosEnTanque"><span jhiTranslate="craftBeerStoreApp.lote.litrosEnTanque">Litros En Tanque</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="litrosEnvasados"><span jhiTranslate="craftBeerStoreApp.lote.litrosEnvasados">Litros Envasados</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="litrosDisponible"><span jhiTranslate="craftBeerStoreApp.lote.litrosDisponible">Litros Disponible</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="recetaNombre"><span jhiTranslate="craftBeerStoreApp.lote.receta">Receta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empresaNombreEmpresa"><span jhiTranslate="craftBeerStoreApp.lote.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="productoNombreComercial"><span jhiTranslate="craftBeerStoreApp.lote.producto">Producto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tanqueNombre"><span jhiTranslate="craftBeerStoreApp.lote.tanque">Tanque</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lote of lotes ;trackBy: trackId">
                <td><a [routerLink]="['/lote', lote.id, 'view' ]">{{lote.id}}</a></td>
                <td>{{lote.codigo}}</td>
                <td>{{lote.fechaCoccion | date:'mediumDate'}}</td>
                <td>{{lote.coccion}}</td>
                <td>{{lote.descripcion}}</td>
                <td>{{lote.descuentaStock}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.EstadoLote.' + lote.estado}}">{{lote.estado}}</td>
                <td>{{lote.litrosEstimados}}</td>
                <td>{{lote.litrosEnTanque}}</td>
                <td>{{lote.litrosEnvasados}}</td>
                <td>{{lote.litrosDisponible}}</td>
                <td>
                    <div *ngIf="lote.recetaId">
                        <a [routerLink]="['/receta', lote.recetaId , 'view' ]" >{{lote.recetaNombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lote.empresaId">
                        <a [routerLink]="['/empresa', lote.empresaId , 'view' ]" >{{lote.empresaNombreEmpresa}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lote.productoId">
                        <a [routerLink]="['/producto', lote.productoId , 'view' ]" >{{lote.productoNombreComercial}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lote.tanqueId">
                        <a [routerLink]="['/tanque', lote.tanqueId , 'view' ]" >{{lote.tanqueNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/lote', lote.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lote', lote.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(lote)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="lotes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
