<div class="container-fluid">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2><span jhiTranslate="craftBeerStoreApp.lote.detail.title">Lote</span></h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i></a></li>
          <li class="breadcrumb-item">Producción</li>
          <li class="breadcrumb-item active"><a (click)="previousState()">Lote</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="header">
      <!--      <h2><span jhiTranslate="craftBeerStoreApp.tanque.detail.title">Caja</span></h2>-->
    </div>
    <div class="body">
      <div class="row justify-content-center">
        <jhi-alert-error></jhi-alert-error>
        <div class="col-lg-4">
          <div *ngIf="lote">
            <div>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>
<!--                    <h2><span jhiTranslate="craftBeerStoreApp.lote.detail.title">Tanque</span> {{lote.codigo}}</h2>-->
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <dl class="row-md jh-entity-details align-center">
                    <img src="/assets/images/tanque.jpg" width="200">
                  </dl>
                  <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="craftBeerStoreApp.lote.detail.title">Codigo</span></dt>
                    <dd>
                      <span>{{lote.codigo}}</span>
                    </dd>
                  </dl>
                  <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="craftBeerStoreApp.lote.fechaCoccion">Fecha Coccion</span></dt>
                    <dd>
                      <span>{{lote.fechaCoccion | date:'mediumDate'}}</span>
                    </dd>
                  </dl>
                  <dt><span jhiTranslate="craftBeerStoreApp.lote.litrosEstimados">Litros Estimados</span></dt>
                  <dd>
                    <span>{{lote.litrosEstimados}}</span>
                  </dd>
                  <dt><span jhiTranslate="craftBeerStoreApp.lote.litrosEnTanque">Litros En Tanque</span></dt>
                  <dd>
                    <span>{{lote.litrosEnTanque}}</span>
                  </dd>
                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div>
            <mat-card class="example-card">
              <mat-card-content>
                <dl class="row text-center" *ngIf="receta">
                  <div class="col-md-2">
                    <dt><span jhiTranslate="craftBeerStoreApp.receta.macerado">Macerado</span></dt>
                    <dd>
                      <span>{{receta.temperaturaDeMacerado}} C°</span>
                    </dd>
                  </div>
                  <div class="col-md-2">
                    <dt><span jhiTranslate="craftBeerStoreApp.receta.og">Og</span></dt>
                    <dd>
                      <span>{{receta.og}}</span>
                    </dd>
                  </div>
                  <div class="col-md-2">
                    <dt><span jhiTranslate="craftBeerStoreApp.receta.fg">Fg</span></dt>
                    <dd>
                      <span>{{receta.fg}}</span>
                    </dd>
                  </div>
                  <div class="col-md-2">
                    <dt><span jhiTranslate="craftBeerStoreApp.receta.abv">Abv</span></dt>
                    <dd>
                      <span>{{receta.abv}}%</span>
                    </dd>
                  </div>
                  <div class="col-md-2">
                    <dt><span jhiTranslate="craftBeerStoreApp.receta.ibu">Ibu</span></dt>
                    <dd>
                      <span>{{receta.ibu}}</span>
                    </dd>
                  </div>
                  <div class="col-md-2">
                    <dt><span jhiTranslate="craftBeerStoreApp.receta.srm">Srm</span></dt>
                    <dd>
                      <span>{{receta.srm}}</span>
                    </dd>
                  </div>
                </dl>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="mt-2">
            <mat-card class="example-card">
              <mat-card-header>
              </mat-card-header>
              <mat-card-content>
                <dl class="row-md jh-entity-details">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <form name="editForm" role="form" novalidate #editForm="ngForm">
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" jhiTranslate="craftBeerStoreApp.etapaLote.etapa" for="field_etapa">Etapa</label>
                              <select class="form-control" name="etapa" [(ngModel)]="etapaLote.etapa" id="field_etapa" >
                                <option value="COCCION">{{'craftBeerStoreApp.EtapaLoteEnum.COCCION' | translate}}</option>
                                <option value="FERMENTACION">{{'craftBeerStoreApp.EtapaLoteEnum.FERMENTACION' | translate}}</option>
                                <option value="MADURACION">{{'craftBeerStoreApp.EtapaLoteEnum.MADURACION' | translate}}</option>
                                <option value="ENVASADO">{{'craftBeerStoreApp.EtapaLoteEnum.ENVASADO' | translate}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" jhiTranslate="craftBeerStoreApp.etapaLote.tanque"
                                     for="field_tanque">Tanque</label>
                              <select class="form-control" id="field_tanque" name="tanque"
                                      [(ngModel)]="etapaLote.tanqueId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="tanqueOption.id"
                                        *ngFor="let tanqueOption of tanques; trackBy: trackTanqueById">{{tanqueOption.nombre}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" jhiTranslate="craftBeerStoreApp.etapaLote.litros" for="field_litros">Litros</label>
                              <input type="number" class="form-control" name="litros" id="field_litros"
                                     [(ngModel)]="etapaLote.litros" />
                            </div>
                          </div>

                        </div>
                        <div>
                          <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                          </button>
                          <button type="button" id="save-entity" [disabled]="editForm.form.invalid" (click)="saveEtapa()" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>

                </dl>
              </mat-card-content>
              <mat-card-actions>

              </mat-card-actions>
            </mat-card>
          </div>
          <div class="mt-2">
            <mat-card class="example-card">
              <mat-card-header>
              </mat-card-header>
              <mat-card-content>
                <div class="table-responsive" *ngIf="etapaLotes">
                  <table mat-table [dataSource]="dataSource" style="width: 100%;" >
                    <ng-container matColumnDef="etapa">
                      <th mat-header-cell *matHeaderCellDef > <span jhiTranslate="craftBeerStoreApp.etapaLote.etapa">Etapa</span></th>
                      <td mat-cell *matCellDef="let etapaLote" > {{etapaLote.etapa}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tanqueNombre">
                      <th mat-header-cell *matHeaderCellDef > <span jhiTranslate="craftBeerStoreApp.etapaLote.tanque">Tanque</span></th>
                      <td mat-cell *matCellDef="let etapaLote" > {{etapaLote.tanqueNombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="litros">
                      <th mat-header-cell *matHeaderCellDef > <span jhiTranslate="craftBeerStoreApp.etapaLote.litros">Litros</span></th>
                      <td mat-cell *matCellDef="let etapaLote" > {{etapaLote.litros}} </td>
                    </ng-container>
                    <ng-container matColumnDef="inicio">
                      <th mat-header-cell *matHeaderCellDef > <span jhiTranslate="craftBeerStoreApp.etapaLote.inicio">inicio</span></th>
                      <td mat-cell *matCellDef="let etapaLote" > {{etapaLote.inicio | date:'mediumDate'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fin">
                      <th mat-header-cell *matHeaderCellDef > <span jhiTranslate="craftBeerStoreApp.etapaLote.fin">fin</span></th>
                      <td mat-cell *matCellDef="let etapaLote" > {{etapaLote.fin | date:'mediumDate'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="dias">
                      <th mat-header-cell *matHeaderCellDef > <span jhiTranslate="craftBeerStoreApp.etapaLote.dias">dias</span></th>
                      <td mat-cell *matCellDef="let etapaLote" > {{etapaLote.dias}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lote">
            <h2><span jhiTranslate="craftBeerStoreApp.lote.detail.title">Lote</span> {{lote.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="craftBeerStoreApp.lote.codigo">Codigo</span></dt>
                <dd>
                    <span>{{lote.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.fechaCoccion">Fecha Coccion</span></dt>
                <dd>
                    <span>{{lote.fechaCoccion}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.coccion">Coccion</span></dt>
                <dd>
                    <span>{{lote.coccion}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{lote.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.descuentaStock">Descuenta Stock</span></dt>
                <dd>
                    <span>{{lote.descuentaStock}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.estado">Estado</span></dt>
                <dd>
                    <span jhiTranslate="{{'craftBeerStoreApp.EstadoLote.' + lote.estado}}">{{lote.estado}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.litrosEstimados">Litros Estimados</span></dt>
                <dd>
                    <span>{{lote.litrosEstimados}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.litrosEnTanque">Litros En Tanque</span></dt>
                <dd>
                    <span>{{lote.litrosEnTanque}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.litrosEnvasados">Litros Envasados</span></dt>
                <dd>
                    <span>{{lote.litrosEnvasados}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.litrosDisponible">Litros Disponible</span></dt>
                <dd>
                    <span>{{lote.litrosDisponible}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.receta">Receta</span></dt>
                <dd>
                    <div *ngIf="lote.recetaId">
                        <a [routerLink]="['/receta', lote.recetaId, 'view']">{{lote.recetaNombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="lote.empresaId">
                        <a [routerLink]="['/empresa', lote.empresaId, 'view']">{{lote.empresaNombreEmpresa}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.producto">Producto</span></dt>
                <dd>
                    <div *ngIf="lote.productoId">
                        <a [routerLink]="['/producto', lote.productoId, 'view']">{{lote.productoNombreComercial}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.lote.tanque">Tanque</span></dt>
                <dd>
                    <div *ngIf="lote.tanqueId">
                        <a [routerLink]="['/tanque', lote.tanqueId, 'view']">{{lote.tanqueNombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lote', lote.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
