<!--<mat-card>-->
<!--    <div class="row col-sm-6">-->
<!--        -->
<!--    </div>-->
<!--    <mat-card-header class="content-center">-->
<!--        -->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--        <div class="col-md-12 content-section implementation">-->
<!--           -->
<!--        </div>-->
<!--    </mat-card-content>-->

<!--</mat-card>-->


<div class="card">
  <div class="header">
    <mat-card-title>
      <h5><span jhiTranslate="dashboard.barchart.home.title">Ventas</span></h5>
    </mat-card-title>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label jhiTranslate="craftBeerStoreApp.movimientos.dias">Dias</mat-label>
      <mat-select name="dias" [(ngModel)]="dias" id="field_dias" (selectionChange)="diasChange($event.value)">
        <mat-option
          value="7">7 Días
        </mat-option>
        <mat-option
          value="15">15 Días
        </mat-option>
        <mat-option
          value="30">30 Días
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="body">
    <div id="chart-top-products" class="chartist">
      <p-chart type="bar" [data]="data"></p-chart>
    </div>
  </div>
</div>
