<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.empresa.home.title">Empresas</span>
        <button id="jh-create-entity" mat-raised-button color="primary" class="float-right jh-create-entity create-empresa" [routerLink]="['/empresa/new']" *ngIf="totalItems < 1">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="craftBeerStoreApp.empresa.home.createLabel">
            Create new Empresa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>

    <br/>
    <div *ngIf="empresas">
        <div class="mat-elevation-z8 table-responsive">
            <table mat-table [dataSource]="dataSource" style="width: 100%;" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="id"> <span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let empresa"> {{empresa.id}} </td>
                </ng-container>
                <ng-container matColumnDef="nombreEmpresa">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="nombreEmpresa"> <span jhiTranslate="craftBeerStoreApp.empresa.nombreEmpresa">Nombre Empresa</span> <fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let empresa"> {{empresa.nombreEmpresa}} </td>
                </ng-container>
                <ng-container matColumnDef="direccion">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="direccion"> <span jhiTranslate="craftBeerStoreApp.empresa.direccion">Direccion</span> <fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let empresa"> {{empresa.direccion}} </td>
                </ng-container>
                <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="telefono"> <span jhiTranslate="craftBeerStoreApp.empresa.telefono">Telefono</span> <fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let empresa"> {{empresa.telefono}} </td>
                </ng-container>
                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="correo"> <span jhiTranslate="craftBeerStoreApp.empresa.correo">Correo</span> <fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let empresa"> {{empresa.correo}} </td>
                </ng-container>
                <ng-container matColumnDef="userLogin">
                    <th mat-header-cell *matHeaderCellDef jhiSortBy="userLogin"> <span jhiTranslate="craftBeerStoreApp.empresa.user">Correo</span> <fa-icon [icon]="'sort'"></fa-icon> </th>
                    <td mat-cell *matCellDef="let empresa"> {{empresa.userLogin}} </td>
                </ng-container>
                <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let empresa" style="width: 20%">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/empresa', empresa.id, 'view' ]"
                                    mat-raised-button color="primary">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/empresa', empresa.id, 'edit']"
                                    mat-raised-button class="mat-edit">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="totalItems"
                           [pageSize]="itemsPerPage"
                           (page)="pageEvent = $event; onPaginateChange($event)"></mat-paginator>
        </div>
    </div>
</div>
