<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-empresa-heading" jhiTranslate="craftBeerStoreApp.empresa.home.createOrEditLabel">Create or edit a Empresa</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.nombreEmpresa" for="field_nombreEmpresa">Nombre Empresa</label>
                    <input type="text" class="form-control" name="nombreEmpresa" id="field_nombreEmpresa"
                           formControlName="nombreEmpresa"/>
                    <div *ngIf="editForm.get('nombreEmpresa').invalid && (editForm.get('nombreEmpresa').dirty || editForm.get('nombreEmpresa').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreEmpresa').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.direccion" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           formControlName="direccion"/>
                    <div *ngIf="editForm.get('direccion').invalid && (editForm.get('direccion').dirty || editForm.get('direccion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccion').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.localidad" for="field_localidad">Localidad</label>
                    <input type="text" class="form-control" name="localidad" id="field_localidad"
                           formControlName="localidad"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.codigoPostal" for="field_codigoPostal">Codigo Postal</label>
                    <input type="number" class="form-control" name="codigoPostal" id="field_codigoPostal"
                           formControlName="codigoPostal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.provincia" for="field_provincia">Provincia</label>
                    <select class="form-control" name="provincia" formControlName="provincia" id="field_provincia">
                        <option value="MISIONES">{{'craftBeerStoreApp.Provincia.MISIONES' | translate}}</option>
                        <option value="SAN_LUIS">{{'craftBeerStoreApp.Provincia.SAN_LUIS' | translate}}</option>
                        <option value="SAN_JUAN">{{'craftBeerStoreApp.Provincia.SAN_JUAN' | translate}}</option>
                        <option value="ENTRE_RIOS">{{'craftBeerStoreApp.Provincia.ENTRE_RIOS' | translate}}</option>
                        <option value="SANTA_CRUZ">{{'craftBeerStoreApp.Provincia.SANTA_CRUZ' | translate}}</option>
                        <option value="RIO_NEGRO">{{'craftBeerStoreApp.Provincia.RIO_NEGRO' | translate}}</option>
                        <option value="CHUBUT">{{'craftBeerStoreApp.Provincia.CHUBUT' | translate}}</option>
                        <option value="CORDOBA">{{'craftBeerStoreApp.Provincia.CORDOBA' | translate}}</option>
                        <option value="MENDOZA">{{'craftBeerStoreApp.Provincia.MENDOZA' | translate}}</option>
                        <option value="LA_RIOJA">{{'craftBeerStoreApp.Provincia.LA_RIOJA' | translate}}</option>
                        <option value="CATAMARCA">{{'craftBeerStoreApp.Provincia.CATAMARCA' | translate}}</option>
                        <option value="LA_PAMPA">{{'craftBeerStoreApp.Provincia.LA_PAMPA' | translate}}</option>
                        <option value="SANTIAGO_DEL_ESTERO">{{'craftBeerStoreApp.Provincia.SANTIAGO_DEL_ESTERO' | translate}}</option>
                        <option value="CORRIENTES">{{'craftBeerStoreApp.Provincia.CORRIENTES' | translate}}</option>
                        <option value="SANTA_FE">{{'craftBeerStoreApp.Provincia.SANTA_FE' | translate}}</option>
                        <option value="TUCUMAN">{{'craftBeerStoreApp.Provincia.TUCUMAN' | translate}}</option>
                        <option value="NEUQUEN">{{'craftBeerStoreApp.Provincia.NEUQUEN' | translate}}</option>
                        <option value="SALTA">{{'craftBeerStoreApp.Provincia.SALTA' | translate}}</option>
                        <option value="CHACO">{{'craftBeerStoreApp.Provincia.CHACO' | translate}}</option>
                        <option value="FORMOSA">{{'craftBeerStoreApp.Provincia.FORMOSA' | translate}}</option>
                        <option value="JUJUY">{{'craftBeerStoreApp.Provincia.JUJUY' | translate}}</option>
                        <option value="CIUDAD_AUTONOMA_DE_BUENOS_AIRES">{{'craftBeerStoreApp.Provincia.CIUDAD_AUTONOMA_DE_BUENOS_AIRES' | translate}}</option>
                        <option value="BUENOS_AIRES">{{'craftBeerStoreApp.Provincia.BUENOS_AIRES' | translate}}</option>
                        <option value="TIERRA_DEL_FUEGO_ANTARTIDA_E_ISLAS_DEL_ATLANTICO_SUR">{{'craftBeerStoreApp.Provincia.TIERRA_DEL_FUEGO_ANTARTIDA_E_ISLAS_DEL_ATLANTICO_SUR' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.telefono" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                           formControlName="telefono"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.correo" for="field_correo">Correo</label>
                    <input type="text" class="form-control" name="correo" id="field_correo"
                           formControlName="correo"/>
                    <div *ngIf="editForm.get('correo').invalid && (editForm.get('correo').dirty || editForm.get('correo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('correo').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Correo' }">
                            This field should follow pattern for "Correo".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.logoPrincipal" for="field_logoPrincipal">Logo Principal</label>
                    <div>
                        <img [src]="'data:' + editForm.get('logoPrincipalContentType').value + ';base64,' + editForm.get('logoPrincipal').value" style="max-height: 100px;" *ngIf="editForm.get('logoPrincipal').value" alt="empresa image"/>
                        <div *ngIf="editForm.get('logoPrincipal').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('logoPrincipalContentType').value}}, {{byteSize(editForm.get('logoPrincipal').value)}}</span>
                            <button type="button" (click)="clearInputImage('logoPrincipal', 'logoPrincipalContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_logoPrincipal" (change)="setFileData($event, 'logoPrincipal', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="logoPrincipal" id="field_logoPrincipal"
                           formControlName="logoPrincipal"/>
                    <input type="hidden" class="form-control" name="logoPrincipalContentType" id="field_logoPrincipalContentType"
                           formControlName="logoPrincipalContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.fechaInicioActividad" for="field_fechaInicioActividad">Fecha Inicio Actividad</label>
                    <div class="input-group">
                        <input id="field_fechaInicioActividad" type="text" class="form-control" name="fechaInicioActividad" ngbDatepicker  #fechaInicioActividadDp="ngbDatepicker" formControlName="fechaInicioActividad"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaInicioActividadDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
