<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-empresa-heading" jhiTranslate="craftBeerStoreApp.empresa.home.createOrEditLabel">Create or edit a Empresa</h2>
            <div>
                <jhi-alert></jhi-alert>
                <!--<jhi-alert-error></jhi-alert-error>-->
                <mat-form-field class="example-full-width" [hidden]="!empresa.id" appearance="fill">
                    <mat-label jhiTranslate="global.field.id">ID </mat-label>
                    <input matInput placeholder="id" id="id" name="id"
                           [(ngModel)]="empresa.id" readonly>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.empresa.nombreEmpresa" for="field_nombreEmpresa">Nombre Empresa</mat-label>
                    <input type="text" matInput name="nombreEmpresa" id="field_nombreEmpresa"
                           [(ngModel)]="empresa.nombreEmpresa" />
                    <mat-error [hidden]="!(editForm.controls.nombreEmpresa?.dirty && editForm.controls.nombreEmpresa?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.nombreEmpresa?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.empresa.direccion" for="field_direccion">Direccion</mat-label>
                    <input type="text" matInput name="direccion" id="field_direccion"
                           [(ngModel)]="empresa.direccion" />
                    <mat-error [hidden]="!(editForm.controls.direccion?.dirty && editForm.controls.direccion?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.direccion?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </mat-error>
                </mat-form-field>


                <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.empresa.localidad" for="field_localidad">Localidad</mat-label>
                    <input type="text" matInput name="localidad" id="field_localidad"
                           [(ngModel)]="empresa.localidad" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.empresa.codigoPostal" for="field_codigoPostal">Codigo postal</mat-label>
                    <input type="number" matInput name="codigoPostal" id="field_codigoPostal"
                           [(ngModel)]="empresa.codigoPostal" />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label jhiTranslate="craftBeerStoreApp.empresa.provincia" for="field_provincia">Provincia</mat-label>
                    <mat-select name="provincia" [(ngModel)]="empresa.provincia" id="field_provincia">
                        <mat-option value="MISIONES">{{'craftBeerStoreApp.Provincia.MISIONES' | translate}}</mat-option>
                        <mat-option value="SAN_LUIS">{{'craftBeerStoreApp.Provincia.SAN_LUIS' | translate}}</mat-option>
                        <mat-option value="SAN_JUAN">{{'craftBeerStoreApp.Provincia.SAN_JUAN' | translate}}</mat-option>
                        <mat-option value="ENTRE_RIOS">{{'craftBeerStoreApp.Provincia.ENTRE_RIOS' | translate}}</mat-option>
                        <mat-option value="SANTA_CRUZ">{{'craftBeerStoreApp.Provincia.SANTA_CRUZ' | translate}}</mat-option>
                        <mat-option value="RIO_NEGRO">{{'craftBeerStoreApp.Provincia.RIO_NEGRO' | translate}}</mat-option>
                        <mat-option value="CHUBUT">{{'craftBeerStoreApp.Provincia.CHUBUT' | translate}}</mat-option>
                        <mat-option value="CORDOBA">{{'craftBeerStoreApp.Provincia.CORDOBA' | translate}}</mat-option>
                        <mat-option value="MENDOZA">{{'craftBeerStoreApp.Provincia.MENDOZA' | translate}}</mat-option>
                        <mat-option value="LA_RIOJA">{{'craftBeerStoreApp.Provincia.LA_RIOJA' | translate}}</mat-option>
                        <mat-option value="CATAMARCA">{{'craftBeerStoreApp.Provincia.CATAMARCA' | translate}}</mat-option>
                        <mat-option value="LA_PAMPA">{{'craftBeerStoreApp.Provincia.LA_PAMPA' | translate}}</mat-option>
                        <mat-option value="SANTIAGO_DEL_ESTERO">{{'craftBeerStoreApp.Provincia.SANTIAGO_DEL_ESTERO' | translate}}</mat-option>
                        <mat-option value="CORRIENTES">{{'craftBeerStoreApp.Provincia.CORRIENTES' | translate}}</mat-option>
                        <mat-option value="SANTA_FE">{{'craftBeerStoreApp.Provincia.SANTA_FE' | translate}}</mat-option>
                        <mat-option value="TUCUMAN">{{'craftBeerStoreApp.Provincia.TUCUMAN' | translate}}</mat-option>
                        <mat-option value="NEUQUEN">{{'craftBeerStoreApp.Provincia.NEUQUEN' | translate}}</mat-option>
                        <mat-option value="SALTA">{{'craftBeerStoreApp.Provincia.SALTA' | translate}}</mat-option>
                        <mat-option value="CHACO">{{'craftBeerStoreApp.Provincia.CHACO' | translate}}</mat-option>
                        <mat-option value="FORMOSA">{{'craftBeerStoreApp.Provincia.FORMOSA' | translate}}</mat-option>
                        <mat-option value="JUJUY">{{'craftBeerStoreApp.Provincia.JUJUY' | translate}}</mat-option>
                        <mat-option value="CIUDAD_AUTONOMA_DE_BUENOS_AIRES">{{'craftBeerStoreApp.Provincia.CIUDAD_AUTONOMA_DE_BUENOS_AIRES' | translate}}</mat-option>
                        <mat-option value="BUENOS_AIRES">{{'craftBeerStoreApp.Provincia.BUENOS_AIRES' | translate}}</mat-option>
                        <mat-option value="TIERRA_DEL_FUEGO_ANTARTIDA_E_ISLAS_DEL_ATLANTICO_SUR">{{'craftBeerStoreApp.Provincia.TIERRA_DEL_FUEGO_ANTARTIDA_E_ISLAS_DEL_ATLANTICO_SUR' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.empresa.telefono" for="field_telefono">telefono</mat-label>
                    <input type="text" matInput name="telefono" id="field_telefono"
                           [(ngModel)]="empresa.telefono" />
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label jhiTranslate="craftBeerStoreApp.empresa.correo" for="field_correo">correo</mat-label>
                    <input type="text" matInput name="correo" id="field_correo" #correo (blur)="onBlurEmail(correo.value)"
                           [(ngModel)]="empresa.correo" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                    <mat-error [hidden]="!(editForm.controls.correo?.dirty && editForm.controls.correo?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.correo?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Correo' }">
                            This field should follow pattern for "Correo".
                        </small>
                    </mat-error>
                </mat-form-field>


<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.telefono" for="field_telefono">Telefono</label>-->
<!--                    <input type="text" class="form-control" name="telefono" id="field_telefono"-->
<!--                        [(ngModel)]="empresa.telefono" />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.correo" for="field_correo">Correo</label>-->
<!--                    <input type="text" class="form-control" name="correo" id="field_correo" #correo (blur)="onBlurEmail(correo.value)"-->
<!--                        [(ngModel)]="empresa.correo" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>-->
<!--                    <div [hidden]="!(editForm.controls.correo?.dirty && editForm.controls.correo?.invalid)">-->
<!--                        <small class="form-text text-danger"-->
<!--                            [hidden]="!editForm.controls.correo?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Correo' }">-->
<!--                            This field should follow pattern for "Correo".-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="form-group">
                    <!--<label class="form-control-label" jhiTranslate="craftBeerStoreApp.empresa.user" for="field_user">User</label>-->
                    <!--<select class="form-control" id="field_user" name="user" [(ngModel)]="empresa.userId" >-->
                        <!--<option [ngValue]="null"></option>-->
                        <!--<option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>-->
                    <!--</select>-->
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" mat-raised-button class="mat-cancel"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" mat-raised-button class="mat-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
