<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.receta.home.title">Recetas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-receta" [routerLink]="['/receta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.receta.home.createLabel">
            Create a new Receta
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="recetas?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.receta.home.notFound">No recetas found</span>
    </div>
    <div class="table-responsive" *ngIf="recetas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="craftBeerStoreApp.receta.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="brewMaster"><span jhiTranslate="craftBeerStoreApp.receta.brewMaster">Brew Master</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="batch"><span jhiTranslate="craftBeerStoreApp.receta.batch">Batch</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="temperaturaDeMacerado"><span jhiTranslate="craftBeerStoreApp.receta.temperaturaDeMacerado">Temperatura De Macerado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="og"><span jhiTranslate="craftBeerStoreApp.receta.og">Og</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fg"><span jhiTranslate="craftBeerStoreApp.receta.fg">Fg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="abv"><span jhiTranslate="craftBeerStoreApp.receta.abv">Abv</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ibu"><span jhiTranslate="craftBeerStoreApp.receta.ibu">Ibu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="srm"><span jhiTranslate="craftBeerStoreApp.receta.srm">Srm</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empaste"><span jhiTranslate="craftBeerStoreApp.receta.empaste">Empaste</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="craftBeerStoreApp.receta.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="productoNombreComercial"><span jhiTranslate="craftBeerStoreApp.receta.producto">Producto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="maltasNombreInsumo"><span jhiTranslate="craftBeerStoreApp.receta.maltas">Maltas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lupuloNombreInsumo"><span jhiTranslate="craftBeerStoreApp.receta.lupulo">Lupulo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="levaduraNombreInsumo"><span jhiTranslate="craftBeerStoreApp.receta.levadura">Levadura</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="otrosNombreInsumo"><span jhiTranslate="craftBeerStoreApp.receta.otros">Otros</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receta of recetas ;trackBy: trackId">
                <td><a [routerLink]="['/receta', receta.id, 'view' ]">{{receta.id}}</a></td>
                <td>{{receta.nombre}}</td>
                <td>{{receta.brewMaster}}</td>
                <td>{{receta.batch}}</td>
                <td>{{receta.temperaturaDeMacerado}}</td>
                <td>{{receta.og}}</td>
                <td>{{receta.fg}}</td>
                <td>{{receta.abv}}</td>
                <td>{{receta.ibu}}</td>
                <td>{{receta.srm}}</td>
                <td>{{receta.empaste}}</td>
                <td>{{receta.fecha | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="receta.productoId">
                        <a [routerLink]="['/producto', receta.productoId , 'view' ]" >{{receta.productoNombreComercial}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="receta.maltasId">
                        <a [routerLink]="['/insumo', receta.maltasId , 'view' ]" >{{receta.maltasNombreInsumo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="receta.lupuloId">
                        <a [routerLink]="['/insumo', receta.lupuloId , 'view' ]" >{{receta.lupuloNombreInsumo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="receta.levaduraId">
                        <a [routerLink]="['/insumo', receta.levaduraId , 'view' ]" >{{receta.levaduraNombreInsumo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="receta.otrosId">
                        <a [routerLink]="['/insumo', receta.otrosId , 'view' ]" >{{receta.otrosNombreInsumo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/receta', receta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/receta', receta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(receta)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="recetas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
