.content-box-srm-1 {
    background-color: #f3f993;
    border: 20px solid #f3f993;
}

.logo-glass {
    background: url('../../../content/images/glass_small.png') no-repeat center center;
    height: 100%;
    background-size: contain;
    width: 100%;
}
