<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="producto">
            <h2><span jhiTranslate="craftBeerStoreApp.producto.detail.title">Producto</span> {{producto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="craftBeerStoreApp.producto.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{producto.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.producto.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{'craftBeerStoreApp.EstiloCerveza.' + producto.tipo}}">{{producto.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.producto.nombreComercial">Nombre Comercial</span></dt>
                <dd>
                    <span>{{producto.nombreComercial}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.producto.precioLitro">Precio Litro</span></dt>
<!--                <dd>-->
<!--                    <span>{{producto.precioLitro}}</span>-->
<!--                </dd>-->
                <dt><span jhiTranslate="craftBeerStoreApp.producto.tipoProducto">Tipo Producto</span></dt>
                <dd>
                    <span jhiTranslate="{{'craftBeerStoreApp.TipoProducto.' + producto.tipoProducto}}">{{producto.tipoProducto}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.producto.imagen">Imagen</span></dt>
                <dd>
                    <div *ngIf="producto.imagen">
                        <a (click)="openFile(producto.imagenContentType, producto.imagen)">
                            <img [src]="'data:' + producto.imagenContentType + ';base64,' + producto.imagen" style="max-width: 100%;" alt="producto image"/>
                        </a>
                        {{producto.imagenContentType}}, {{byteSize(producto.imagen)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.producto.observacion">Observacion</span></dt>
                <dd>
                    <span>{{producto.observacion}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.producto.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="producto.empresaId">
                        <a [routerLink]="['/empresa', producto.empresaId, 'view']">{{producto.empresaId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.producto.estilos">Estilos</span></dt>
                <dd>
                    <div *ngIf="producto.estilosId">
                        <a [routerLink]="['/estilos', producto.estilosId, 'view']">{{producto.estilosNombreEstilo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    mat-raised-button class="mat-back">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/producto', producto.id, 'edit']"
                    mat-raised-button class="mat-success">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
