<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.eventoProducto.home.title">Evento Productos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-evento-producto" [routerLink]="['/evento-producto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.eventoProducto.home.createLabel">
            Create a new Evento Producto
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="eventoProductos?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.eventoProducto.home.notFound">No eventoProductos found</span>
    </div>
    <div class="table-responsive" *ngIf="eventoProductos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cantidadDeBarriles"><span jhiTranslate="craftBeerStoreApp.eventoProducto.cantidadDeBarriles">Cantidad De Barriles</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="productoDescripcion"><span jhiTranslate="craftBeerStoreApp.eventoProducto.producto">Producto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="eventoId"><span jhiTranslate="craftBeerStoreApp.eventoProducto.evento">Evento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eventoProducto of eventoProductos ;trackBy: trackId">
                <td><a [routerLink]="['/evento-producto', eventoProducto.id, 'view' ]">{{eventoProducto.id}}</a></td>
                <td>{{eventoProducto.cantidadDeBarriles}}</td>
                <td>
                    <div *ngIf="eventoProducto.productoId">
                        <a [routerLink]="['/producto', eventoProducto.productoId , 'view' ]" >{{eventoProducto.productoDescripcion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="eventoProducto.eventoId">
                        <a [routerLink]="['/evento', eventoProducto.eventoId , 'view' ]" >{{eventoProducto.eventoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/evento-producto', eventoProducto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/evento-producto', eventoProducto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(eventoProducto)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="eventoProductos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
