<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-evento-producto-heading" jhiTranslate="craftBeerStoreApp.eventoProducto.home.createOrEditLabel">Create or edit a Evento Producto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!eventoProducto.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="eventoProducto.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.eventoProducto.producto" for="field_producto">Producto</label>
                    <select class="form-control" id="field_producto" name="producto" [(ngModel)]="eventoProducto.productoId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productoOption.id" *ngFor="let productoOption of productos; trackBy: trackProductoById">{{productoOption.nombreProducto}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.eventoProducto.evento" for="field_evento">Evento</label>
                    <select class="form-control" id="field_evento" name="evento" [(ngModel)]="eventoProducto.eventoId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="eventoOption.id" *ngFor="let eventoOption of eventos; trackBy: trackEventoById">{{eventoOption.id}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" mat-raised-button class="mat-cancel"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" mat-raised-button class="mat-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
