<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.puntoDeVenta.home.title">Punto De Ventas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-punto-de-venta" [routerLink]="['/punto-de-venta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.puntoDeVenta.home.createLabel">
            Create a new Punto De Venta
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="puntoDeVentas?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.puntoDeVenta.home.notFound">No puntoDeVentas found</span>
    </div>
    <div class="table-responsive" *ngIf="puntoDeVentas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="direccionDeEntrega"><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.direccionDeEntrega">Direccion De Entrega</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localidad"><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.localidad">Localidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="notas"><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.notas">Notas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="clienteNombreApellido"><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let puntoDeVenta of puntoDeVentas ;trackBy: trackId">
                <td><a [routerLink]="['/punto-de-venta', puntoDeVenta.id, 'view' ]">{{puntoDeVenta.id}}</a></td>
                <td>{{puntoDeVenta.nombre}}</td>
                <td>{{puntoDeVenta.direccionDeEntrega}}</td>
                <td>{{puntoDeVenta.localidad}}</td>
                <td>{{puntoDeVenta.notas}}</td>
                <td>
                    <div *ngIf="puntoDeVenta.clienteId">
                        <a [routerLink]="['/cliente', puntoDeVenta.clienteId , 'view' ]" >{{puntoDeVenta.clienteNombreApellido}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/punto-de-venta', puntoDeVenta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/punto-de-venta', puntoDeVenta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(puntoDeVenta)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="puntoDeVentas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
