<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="puntoDeVenta">
            <h2><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.detail.title">Punto De Venta</span> {{puntoDeVenta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.nombre">Nombre</span></dt>
                <dd>
                    <span>{{puntoDeVenta.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.direccionDeEntrega">Direccion De Entrega</span></dt>
                <dd>
                    <span>{{puntoDeVenta.direccionDeEntrega}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.localidad">Localidad</span></dt>
                <dd>
                    <span>{{puntoDeVenta.localidad}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.notas">Notas</span></dt>
                <dd>
                    <span>{{puntoDeVenta.notas}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.puntoDeVenta.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="puntoDeVenta.clienteId">
                        <a [routerLink]="['/cliente', puntoDeVenta.clienteId, 'view']">{{puntoDeVenta.clienteNombreApellido}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/punto-de-venta', puntoDeVenta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
