<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-insumo-heading" jhiTranslate="craftBeerStoreApp.insumo.home.createOrEditLabel">Create or edit a Insumo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!insumo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="insumo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.insumo.nombreInsumo" for="field_nombreInsumo">Nombre Insumo</label>
                    <input type="text" class="form-control" name="nombreInsumo" id="field_nombreInsumo"
                        [(ngModel)]="insumo.nombreInsumo" required/>
                    <div [hidden]="!(editForm.controls.nombreInsumo?.dirty && editForm.controls.nombreInsumo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombreInsumo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.insumo.marca" for="field_marca">Marca</label>
                    <input type="text" class="form-control" name="marca" id="field_marca"
                        [(ngModel)]="insumo.marca" required/>
                    <div [hidden]="!(editForm.controls.marca?.dirty && editForm.controls.marca?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.marca?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.insumo.stock" for="field_stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="field_stock"
                        [(ngModel)]="insumo.stock" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.insumo.unidad" for="field_unidad">Unidad</label>
                    <select class="form-control" name="unidad" [(ngModel)]="insumo.unidad" id="field_unidad" >
                        <option value="KILOGRAMO">{{'craftBeerStoreApp.Unidad.KILOGRAMO' | translate}}</option>
                        <option value="GRAMO">{{'craftBeerStoreApp.Unidad.GRAMO' | translate}}</option>
                        <option value="VEINTICINCO_KILOS">{{'craftBeerStoreApp.Unidad.VEINTICINCO_KILOS' | translate}}</option>
                        <option value="DIES_KILOS">{{'craftBeerStoreApp.Unidad.DIES_KILOS' | translate}}</option>
                        <option value="LITRO">{{'craftBeerStoreApp.Unidad.LITRO' | translate}}</option>
                        <option value="CM3">{{'craftBeerStoreApp.Unidad.CM3' | translate}}</option>
                        <option value="ML">{{'craftBeerStoreApp.Unidad.ML' | translate}}</option>
                        <option value="UNIDAD">{{'craftBeerStoreApp.Unidad.UNIDAD' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.insumo.tipo" for="field_tipo">Tipo</label>
                    <select class="form-control" name="tipo" [(ngModel)]="insumo.tipo" id="field_tipo" >
                        <option value="MALTA">{{'craftBeerStoreApp.TipoInsumo.MALTA' | translate}}</option>
                        <option value="LUPULO">{{'craftBeerStoreApp.TipoInsumo.LUPULO' | translate}}</option>
                        <option value="LEVADURA">{{'craftBeerStoreApp.TipoInsumo.LEVADURA' | translate}}</option>
                        <option value="ACIDO">{{'craftBeerStoreApp.TipoInsumo.ACIDO' | translate}}</option>
                        <option value="SAL">{{'craftBeerStoreApp.TipoInsumo.SAL' | translate}}</option>
                        <option value="OTROS">{{'craftBeerStoreApp.TipoInsumo.OTROS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.insumo.imagen" for="field_imagen">Imagen</label>
                    <div>
                        <img [src]="'data:' + insumo.imagenContentType + ';base64,' + insumo.imagen" style="max-height: 100px;" *ngIf="insumo.imagen" alt="insumo image"/>
                        <div *ngIf="insumo.imagen" class="form-text text-danger clearfix">
                            <span class="pull-left">{{insumo.imagenContentType}}, {{byteSize(insumo.imagen)}}</span>
                            <button type="button" (click)="clearInputImage('imagen', 'imagenContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen" (change)="setFileData($event, insumo, 'imagen', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                        [(ngModel)]="insumo.imagen" />
                    <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                        [(ngModel)]="insumo.imagenContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.insumo.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" [(ngModel)]="insumo.empresaId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empresaOption.id" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
