<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.insumo.home.title">Insumos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-insumo" [routerLink]="['/insumo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.insumo.home.createLabel">
            Create a new Insumo
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="insumos?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.insumo.home.notFound">No insumos found</span>
    </div>
    <div class="table-responsive" *ngIf="insumos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombreInsumo"><span jhiTranslate="craftBeerStoreApp.insumo.nombreInsumo">Nombre Insumo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="marca"><span jhiTranslate="craftBeerStoreApp.insumo.marca">Marca</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="stock"><span jhiTranslate="craftBeerStoreApp.insumo.stock">Stock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="unidad"><span jhiTranslate="craftBeerStoreApp.insumo.unidad">Unidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipo"><span jhiTranslate="craftBeerStoreApp.insumo.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="imagen"><span jhiTranslate="craftBeerStoreApp.insumo.imagen">Imagen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="precioUnitario"><span jhiTranslate="craftBeerStoreApp.insumo.precioUnitario">Precio Unitario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="precioTotal"><span jhiTranslate="craftBeerStoreApp.insumo.precioTotal">Precio Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="empresaId"><span jhiTranslate="craftBeerStoreApp.insumo.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="insumoRecomendadoNombre"><span jhiTranslate="craftBeerStoreApp.insumo.insumoRecomendado">Insumo Recomendado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let insumo of insumos ;trackBy: trackId">
                <td><a [routerLink]="['/insumo', insumo.id, 'view' ]">{{insumo.id}}</a></td>
                <td>{{insumo.nombreInsumo}}</td>
                <td>{{insumo.marca}}</td>
                <td>{{insumo.stock}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.Unidad.' + insumo.unidad}}">{{insumo.unidad}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.TipoInsumo.' + insumo.tipo}}">{{insumo.tipo}}</td>
                <td>
                    <a *ngIf="insumo.imagen" (click)="openFile(insumo.imagenContentType, insumo.imagen)">
                        <img [src]="'data:' + insumo.imagenContentType + ';base64,' + insumo.imagen" style="max-height: 30px;" alt="insumo image"/>
                    </a>
                    <span *ngIf="insumo.imagen">{{insumo.imagenContentType}}, {{byteSize(insumo.imagen)}}</span>
                </td>
                <td>{{insumo.precioUnitario}}</td>
                <td>{{insumo.precioTotal}}</td>
                <td>
                    <div *ngIf="insumo.empresaId">
                        <a [routerLink]="['/empresa', insumo.empresaId , 'view' ]" >{{insumo.empresaId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="insumo.insumoRecomendadoId">
                        <a [routerLink]="['/insumo-recomendado', insumo.insumoRecomendadoId , 'view' ]" >{{insumo.insumoRecomendadoNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/insumo', insumo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/insumo', insumo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(insumo)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="insumos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
