<div class="container-fluid">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2><span jhiTranslate="craftBeerStoreApp.tanque.detail.title">Caja</span></h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i></a></li>
          <li class="breadcrumb-item">Entidad</li>
          <li class="breadcrumb-item active"><a (click)="previousState()">Caja</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="header">
<!--      <h2><span jhiTranslate="craftBeerStoreApp.tanque.detail.title">Caja</span></h2>-->
    </div>
    <div class="body">
      <div class="row justify-content-center">
        <div class="col-8">
          <div *ngIf="tanque">
            <jhi-alert-error></jhi-alert-error>
            <div class="mat-elevation-z8">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>
                    <h2><span jhiTranslate="craftBeerStoreApp.tanque.detail.title">Tanque</span> {{tanque.id}}</h2>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>

                  <dl class="row-md jh-entity-details">
                    <div class="row">
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.tanque.nombre">Nombre</span></dt>
                        <dd>
                          <span>{{tanque.nombre}}</span>
                        </dd>
                      </div>
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.tanque.litros">Litros</span></dt>
                        <dd>
                          <span>{{tanque.litros}}</span>
                        </dd>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.tanque.tipo">Tipo</span></dt>
                        <dd>
                          <span jhiTranslate="{{'craftBeerStoreApp.TipoTanque.' + tanque.tipo}}">{{tanque.tipo}}</span>
                        </dd>
                      </div>
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.tanque.estado">Estado</span></dt>
                        <dd>
                          <span jhiTranslate="{{'craftBeerStoreApp.EstadoTanque.' + tanque.estado}}">{{tanque.estado}}</span>
                        </dd>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.tanque.listrosDisponible">Listros Disponible</span></dt>
                        <dd>
                          <span>{{tanque.listrosDisponible}}</span>
                        </dd>
                      </div>
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.tanque.fechaIngreso">Fecha Ingreso</span></dt>
                        <dd>
                          <span>{{tanque.fechaIngreso}}</span>
                        </dd>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.tanque.lote">Lote</span></dt>
                        <dd>
                          <div *ngIf="tanque.loteId">
                            <a [routerLink]="['/lote', tanque.loteId, 'view']">{{tanque.loteCodigo}}</a>
                          </div>
                        </dd>
                      </div>
                      <div class="col-md-6">
                        <dt><span jhiTranslate="craftBeerStoreApp.tanque.producto">Producto</span></dt>
                        <dd>
                          <div *ngIf="tanque.productoId">
                            <a [routerLink]="['/admin/entity/producto', tanque.productoId, 'view']">{{tanque.productoNombreComercial}}</a>
                          </div>
                        </dd>
                      </div>
                    </div>

                  </dl>
                </mat-card-content>
                <mat-card-actions>
                  <button type="submit"
                          (click)="previousState()"
                          mat-raised-button class="mat-back">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                  </button>

                  <button type="button"
                          [routerLink]="['/admin/admin/tanque', tanque.id, 'edit']"
                          mat-raised-button class="mat-success">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tanque">

            <hr>
            <jhi-alert-error></jhi-alert-error>



        </div>
    </div>
</div>
