<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.home.title">Compra Insumo Detalles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-compra-insumo-detalle" [routerLink]="['/compra-insumo-detalle/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.home.createLabel">
            Create a new Compra Insumo Detalle
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="compraInsumoDetalles?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.home.notFound">No compraInsumoDetalles found</span>
    </div>
    <div class="table-responsive" *ngIf="compraInsumoDetalles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="unidad"><span jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.unidad">Unidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigoReferencia"><span jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.codigoReferencia">Codigo Referencia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="stock"><span jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.stock">Stock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="precioUnitario"><span jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.precioUnitario">Precio Unitario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="precioTotal"><span jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.precioTotal">Precio Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipo"><span jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="compraInsumoNroFactura"><span jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.compraInsumo">Compra Insumo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="insumoRecomendadoNombre"><span jhiTranslate="craftBeerStoreApp.compraInsumoDetalle.insumoRecomendado">Insumo Recomendado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let compraInsumoDetalle of compraInsumoDetalles ;trackBy: trackId">
                <td><a [routerLink]="['/compra-insumo-detalle', compraInsumoDetalle.id, 'view' ]">{{compraInsumoDetalle.id}}</a></td>
                <td jhiTranslate="{{'craftBeerStoreApp.Unidad.' + compraInsumoDetalle.unidad}}">{{compraInsumoDetalle.unidad}}</td>
                <td>{{compraInsumoDetalle.codigoReferencia}}</td>
                <td>{{compraInsumoDetalle.stock}}</td>
                <td>{{compraInsumoDetalle.precioUnitario}}</td>
                <td>{{compraInsumoDetalle.precioTotal}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.TipoInsumo.' + compraInsumoDetalle.tipo}}">{{compraInsumoDetalle.tipo}}</td>
                <td>
                    <div *ngIf="compraInsumoDetalle.compraInsumoId">
                        <a [routerLink]="['/compra-insumo', compraInsumoDetalle.compraInsumoId , 'view' ]" >{{compraInsumoDetalle.compraInsumoNroFactura}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="compraInsumoDetalle.insumoRecomendadoId">
                        <a [routerLink]="['/insumo-recomendado', compraInsumoDetalle.insumoRecomendadoId , 'view' ]" >{{compraInsumoDetalle.insumoRecomendadoNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/compra-insumo-detalle', compraInsumoDetalle.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/compra-insumo-detalle', compraInsumoDetalle.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(compraInsumoDetalle)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="compraInsumoDetalles?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
