<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.movimientoBarril.home.title">Movimiento Barrils</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-movimiento-barril" [routerLink]="['/movimiento-barril/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.movimientoBarril.home.createLabel">
            Create a new Movimiento Barril
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="movimientoBarrils?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.movimientoBarril.home.notFound">No movimientoBarrils found</span>
    </div>
    <div class="table-responsive" *ngIf="movimientoBarrils?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fechaMovimiento"><span jhiTranslate="craftBeerStoreApp.movimientoBarril.fechaMovimiento">Fecha Movimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="estado"><span jhiTranslate="craftBeerStoreApp.movimientoBarril.estado">Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dias"><span jhiTranslate="craftBeerStoreApp.movimientoBarril.dias">Dias</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="barrilCodigo"><span jhiTranslate="craftBeerStoreApp.movimientoBarril.barril">Barril</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="productoNombreComercial"><span jhiTranslate="craftBeerStoreApp.movimientoBarril.producto">Producto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="loteCodigo"><span jhiTranslate="craftBeerStoreApp.movimientoBarril.lote">Lote</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="clienteNombreApellido"><span jhiTranslate="craftBeerStoreApp.movimientoBarril.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movimientoBarril of movimientoBarrils ;trackBy: trackId">
                <td><a [routerLink]="['/movimiento-barril', movimientoBarril.id, 'view' ]">{{movimientoBarril.id}}</a></td>
                <td>{{movimientoBarril.fechaMovimiento | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'craftBeerStoreApp.EstadoMovimientoBarril.' + movimientoBarril.estado}}">{{movimientoBarril.estado}}</td>
                <td>{{movimientoBarril.dias}}</td>
                <td>
                    <div *ngIf="movimientoBarril.barrilId">
                        <a [routerLink]="['/barril', movimientoBarril.barrilId , 'view' ]" >{{movimientoBarril.barrilCodigo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimientoBarril.productoId">
                        <a [routerLink]="['/producto', movimientoBarril.productoId , 'view' ]" >{{movimientoBarril.productoNombreComercial}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimientoBarril.loteId">
                        <a [routerLink]="['/lote', movimientoBarril.loteId , 'view' ]" >{{movimientoBarril.loteCodigo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimientoBarril.clienteId">
                        <a [routerLink]="['/cliente', movimientoBarril.clienteId , 'view' ]" >{{movimientoBarril.clienteNombreApellido}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/movimiento-barril', movimientoBarril.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/movimiento-barril', movimientoBarril.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(movimientoBarril)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="movimientoBarrils?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
