<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-estilos-heading" jhiTranslate="craftBeerStoreApp.estilos.home.createOrEditLabel">Create or edit a Estilos</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.number" for="field_number">Number</label>
                    <input type="text" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.nombreEstilo" for="field_nombreEstilo">Nombre Estilo</label>
                    <input type="text" class="form-control" name="nombreEstilo" id="field_nombreEstilo"
                           formControlName="nombreEstilo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.categoriaEstilo" for="field_categoriaEstilo">Categoria Estilo</label>
                    <input type="text" class="form-control" name="categoriaEstilo" id="field_categoriaEstilo"
                           formControlName="categoriaEstilo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.abvMin" for="field_abvMin">Abv Min</label>
                    <input type="number" class="form-control" name="abvMin" id="field_abvMin"
                           formControlName="abvMin"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.abvMax" for="field_abvMax">Abv Max</label>
                    <input type="number" class="form-control" name="abvMax" id="field_abvMax"
                           formControlName="abvMax"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.abvMed" for="field_abvMed">Abv Med</label>
                    <input type="number" class="form-control" name="abvMed" id="field_abvMed"
                           formControlName="abvMed"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.ibuMin" for="field_ibuMin">Ibu Min</label>
                    <input type="number" class="form-control" name="ibuMin" id="field_ibuMin"
                           formControlName="ibuMin"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.ibuMax" for="field_ibuMax">Ibu Max</label>
                    <input type="number" class="form-control" name="ibuMax" id="field_ibuMax"
                           formControlName="ibuMax"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.ibuMed" for="field_ibuMed">Ibu Med</label>
                    <input type="number" class="form-control" name="ibuMed" id="field_ibuMed"
                           formControlName="ibuMed"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.srmMin" for="field_srmMin">Srm Min</label>
                    <input type="number" class="form-control" name="srmMin" id="field_srmMin"
                           formControlName="srmMin"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.srmMax" for="field_srmMax">Srm Max</label>
                    <input type="number" class="form-control" name="srmMax" id="field_srmMax"
                           formControlName="srmMax"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.srmMed" for="field_srmMed">Srm Med</label>
                    <input type="number" class="form-control" name="srmMed" id="field_srmMed"
                           formControlName="srmMed"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.ejemploNombreComercial" for="field_ejemploNombreComercial">Ejemplo Nombre Comercial</label>
                    <input type="text" class="form-control" name="ejemploNombreComercial" id="field_ejemploNombreComercial"
                           formControlName="ejemploNombreComercial"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="craftBeerStoreApp.estilos.ejemploImagenComercial" for="field_ejemploImagenComercial">Ejemplo Imagen Comercial</label>
                    <input type="text" class="form-control" name="ejemploImagenComercial" id="field_ejemploImagenComercial"
                           formControlName="ejemploImagenComercial"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
