<div>
    <h2 id="page-heading">
        <span jhiTranslate="craftBeerStoreApp.estilos.home.title">Estilos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-estilos" [routerLink]="['/estilos/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="craftBeerStoreApp.estilos.home.createLabel">
            Create a new Estilos
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="estilos?.length === 0">
        <span jhiTranslate="craftBeerStoreApp.estilos.home.notFound">No estilos found</span>
    </div>
    <div class="table-responsive" *ngIf="estilos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="number"><span jhiTranslate="craftBeerStoreApp.estilos.number">Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombreEstilo"><span jhiTranslate="craftBeerStoreApp.estilos.nombreEstilo">Nombre Estilo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="categoriaEstilo"><span jhiTranslate="craftBeerStoreApp.estilos.categoriaEstilo">Categoria Estilo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="abvMin"><span jhiTranslate="craftBeerStoreApp.estilos.abvMin">Abv Min</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="abvMax"><span jhiTranslate="craftBeerStoreApp.estilos.abvMax">Abv Max</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="abvMed"><span jhiTranslate="craftBeerStoreApp.estilos.abvMed">Abv Med</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ibuMin"><span jhiTranslate="craftBeerStoreApp.estilos.ibuMin">Ibu Min</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ibuMax"><span jhiTranslate="craftBeerStoreApp.estilos.ibuMax">Ibu Max</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ibuMed"><span jhiTranslate="craftBeerStoreApp.estilos.ibuMed">Ibu Med</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="srmMin"><span jhiTranslate="craftBeerStoreApp.estilos.srmMin">Srm Min</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="srmMax"><span jhiTranslate="craftBeerStoreApp.estilos.srmMax">Srm Max</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="srmMed"><span jhiTranslate="craftBeerStoreApp.estilos.srmMed">Srm Med</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="craftBeerStoreApp.estilos.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ejemploNombreComercial"><span jhiTranslate="craftBeerStoreApp.estilos.ejemploNombreComercial">Ejemplo Nombre Comercial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ejemploImagenComercial"><span jhiTranslate="craftBeerStoreApp.estilos.ejemploImagenComercial">Ejemplo Imagen Comercial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estilos of estilos ;trackBy: trackId">
                <td><a [routerLink]="['/estilos', estilos.id, 'view' ]">{{estilos.id}}</a></td>
                <td>{{estilos.number}}</td>
                <td>{{estilos.nombreEstilo}}</td>
                <td>{{estilos.categoriaEstilo}}</td>
                <td>{{estilos.abvMin}}</td>
                <td>{{estilos.abvMax}}</td>
                <td>{{estilos.abvMed}}</td>
                <td>{{estilos.ibuMin}}</td>
                <td>{{estilos.ibuMax}}</td>
                <td>{{estilos.ibuMed}}</td>
                <td>{{estilos.srmMin}}</td>
                <td>{{estilos.srmMax}}</td>
                <td>{{estilos.srmMed}}</td>
                <td>{{estilos.descripcion}}</td>
                <td>{{estilos.ejemploNombreComercial}}</td>
                <td>{{estilos.ejemploImagenComercial}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/estilos', estilos.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/estilos', estilos.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(estilos)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="estilos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
