<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="estilos">
            <h2><span jhiTranslate="craftBeerStoreApp.estilos.detail.title">Estilos</span> {{estilos.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.number">Number</span></dt>
                <dd>
                    <span>{{estilos.number}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.nombreEstilo">Nombre Estilo</span></dt>
                <dd>
                    <span>{{estilos.nombreEstilo}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.categoriaEstilo">Categoria Estilo</span></dt>
                <dd>
                    <span>{{estilos.categoriaEstilo}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.abvMin">Abv Min</span></dt>
                <dd>
                    <span>{{estilos.abvMin}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.abvMax">Abv Max</span></dt>
                <dd>
                    <span>{{estilos.abvMax}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.abvMed">Abv Med</span></dt>
                <dd>
                    <span>{{estilos.abvMed}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.ibuMin">Ibu Min</span></dt>
                <dd>
                    <span>{{estilos.ibuMin}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.ibuMax">Ibu Max</span></dt>
                <dd>
                    <span>{{estilos.ibuMax}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.ibuMed">Ibu Med</span></dt>
                <dd>
                    <span>{{estilos.ibuMed}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.srmMin">Srm Min</span></dt>
                <dd>
                    <span>{{estilos.srmMin}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.srmMax">Srm Max</span></dt>
                <dd>
                    <span>{{estilos.srmMax}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.srmMed">Srm Med</span></dt>
                <dd>
                    <span>{{estilos.srmMed}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{estilos.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.ejemploNombreComercial">Ejemplo Nombre Comercial</span></dt>
                <dd>
                    <span>{{estilos.ejemploNombreComercial}}</span>
                </dd>
                <dt><span jhiTranslate="craftBeerStoreApp.estilos.ejemploImagenComercial">Ejemplo Imagen Comercial</span></dt>
                <dd>
                    <span>{{estilos.ejemploImagenComercial}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/estilos', estilos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
