<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>
                    <span jhiTranslate="craftBeerStoreApp.presentacion.detail.title">Presentacion</span>
                    : <span jhiTranslate="{{'craftBeerStoreApp.TipoPresentacion.' + presentacion.tipoPresentacion}}">{{presentacion.tipoPresentacion}}</span>
                </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Entidad</li>
                    <li class="breadcrumb-item active">Presentaciones</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <h2>
                <span jhiTranslate="craftBeerStoreApp.presentacion.detail.title">Presentacion</span>
                : <span jhiTranslate="{{'craftBeerStoreApp.TipoPresentacion.' + presentacion.tipoPresentacion}}">{{presentacion.tipoPresentacion}}</span>
            </h2>
        </div>
        <div class="body">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div *ngIf="presentacion">
                        <jhi-alert-error></jhi-alert-error>
                        <div class="mat-elevation-z8">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <mat-card-title>

                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <dl class="row-md jh-entity-details">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.presentacion.tipoPresentacion">Tipo Presentacion</span></dt>
                                                <dd>
                                                    <span jhiTranslate="{{'craftBeerStoreApp.TipoPresentacion.' + presentacion.tipoPresentacion}}">{{presentacion.tipoPresentacion}}</span>
                                                </dd>
                                            </div>
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.presentacion.cantidad">Cantidad</span></dt>
                                                <dd>
                                                    <span>{{presentacion.cantidad}}</span>
                                                </dd>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.presentacion.fecha">Fecha</span></dt>
                                                <dd>
                                                    <span>{{presentacion.fecha | date:'mediumDate'}}</span>
                                                </dd>
                                            </div>
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.presentacion.costoUnitario">Costo Unitario</span></dt>
                                                <dd>
                                                    <span>${{presentacion.costoUnitario}}</span>
                                                </dd>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.presentacion.precioVentaUnitario">Precio Venta Unitario</span></dt>
                                                <dd>
                                                    <span>${{presentacion.precioVentaUnitario}}</span>
                                                </dd>
                                            </div>
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.presentacion.precioVentaTotal">Precio Venta Total</span></dt>
                                                <dd>
                                                    <span>${{presentacion.precioVentaTotal}}</span>
                                                </dd>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dt><span jhiTranslate="craftBeerStoreApp.presentacion.precioCostoTotal">Precio Costo Total</span></dt>
                                                <dd>
                                                    <span>${{presentacion.precioCostoTotal}}</span>
                                                </dd>
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                        </div>

                                    </dl>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button type="submit"
                                            (click)="previousState()"
                                            mat-raised-button class="mat-back">
                                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                                    </button>

                                    <button type="button"
                                            [routerLink]="['/admin/entity/presentacion', presentacion.id, 'edit']"
                                            mat-raised-button class="mat-success">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


