.pot-still {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url('../../assets/icons/pot_still.svg') no-repeat center top;
  background-size: contain;
}

.wheat-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../../assets/icons/wheat.svg') no-repeat center top;
  background-size: contain;
}

.beer-keg-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url('../../assets/icons/beer-keg.png') no-repeat center top;
  background-size: contain;
}

.hop-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../../assets/images/hop.jpg') no-repeat center top;
  background-size: contain;
}

.yeast-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../../assets/icons/yeastIcon.png') no-repeat center top;
  background-size: contain;
}

.cocina-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../../assets/icons/tanque.png') no-repeat center top;
  background-size: contain;
}

.barriles-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../../assets/icons/barriles.png') no-repeat center top;
  background-size: contain;
}

.cornis-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../../assets/icons/cornis.png') no-repeat center top;
  background-size: contain;
}

.envasado-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../../assets/icons/envasado.png') no-repeat center top;
  background-size: contain;
}

.fermentador-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../../assets/icons/fermentador.png') no-repeat center top;
  background-size: contain;
}
